<footer class="footer">
  <div class="container">
    <div class="row row-form">
      <div class="col-12 col-lg-10 offset-lg-1">
          <form action="" class="form" id="form-email" name="form-email">
            <div class="row">
              <div class="col-12 col-lg-8"> 
                <p class="txt ts-18 ts-lg-22 tc-gray tw-500 mb-3 mt-4">
                  Sẵn sàng giao dịch tiền mã hoá?
                </p>
                <h3 class="tit ts-30 ts-lg-44 tc-white tw-700 mb-3 mb-lg-0">
                  Đăng ký ngay để nhận phần thưởng tiền mã hoá!
                </h3>
              </div>
              <div class="col-12 col-lg-4">
                <div class="wrapper d-flex flex-column flex-lg-row align-items-start align-items-lg-end justify-content-end">
                  <!-- <div class="col-12 col-sm-7 col-lg-7 mb-2 me-2">
                    <div class="input">
                      <div class="input__item">
                        <input class="input__item--field" type="email" name="email" id="email" placeholder="Nhập địa chỉ Email" required disabled />
                      </div>
                    </div>
                  </div> -->
                  <a href="https://client.spottop.co.uk/vi/client.add/" class="btn btn-s4 btn-yellow btn-w-200 js-form-submit-a">
                    <span class="txt ts-20">
                      Bắt Đầu
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
    <div class="row mb-4">
      <a href="vi">
        <div class="img img-logo-footer">
          <img src="public/img/logo/logo-light.svg" alt="">
        </div>
      </a>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-md-5 col-lg-4">
        <div class="wrapper d-flex align-items-start flex-column justify-content-between">
          <p class="txt ts-16 ts-lg-18 tc-lblue tw-500 mb-4">
            <span class="txt tw-700 tc-white">
              Cảnh báo rủi ro:
            </span>
            SpotTop là trang web được điều hành bởi Blue Sun Capital Ltd, và được cấp phép bởi Mwali International Services Authority với giấy phép số HY00723481. <br>
            <br>
            <span class="txt tw-700">THÔNG TIN LIÊN LẠC</span> 
            <br>
            <a mail href="mailto:support@spottop.co.uk" class="link link-footer link-none txt ts-18 tc-lblue tw-500" >support@spottop.co.uk</a>
          </p>
          <div class="d-flex flex-row mb-4">
            <a href="" target="_blank" class="ico ico-social ico-social-telegram me-4">
            </a>
            <a href="" target="_blank" class="ico ico-social ico-social-instagram me-4">
            </a>
            <a href="" target="_blank" class="ico ico-social ico-social-zalo">
            </a>
          </div>
          <div class="d-flex flex-column flex-sm-row mb-4">
            <a href="vi/terms-and-conditions"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 me-4">
              Các điều khoản và điều kiện
            </a>
            <a href="vi/privacy"  class="link link-footer link-none txt ts-16 tc-lblue tw-500">
              Chính sách bảo mật
            </a>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-6 offset-md-1 offset-lg-2">
        <h5 class="tit ts-16 ts-lg-18 tc-white tw-700 mb-4">
          Truy Cập Nhanh
        </h5>
        <div class="wrapper d-flex flex-column flex-sm-row">
          <div class="col-12 col-sm-5">
            <div class="wrapper d-flex flex-column">
              <a href="vi/forex"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Ngoại hối
              </a>
              <a href="vi/crypto"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Khám Phá Tiền Mã Hóa
              </a>
              <a href="vi/stocks"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Cổ phiếu
              </a>
              <a href="vi/commodities"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Hàng hóa
              </a>
              <a href="vi/indices"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Chỉ số
              </a>
              <a href="vi/bonds"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Trái phiếu
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-5">
            <div class="wrapper d-flex flex-column">
              <a href="vi/deposit-and-withdrawal"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Nạp Tiền và Rút Tiền
              </a>
              <a href="vi/platform"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Nền Tảng Giao Dịch
              </a>
              <a href="vi/accounts"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Tài Khoản
              </a>
              <a href="vi/about"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Về Chúng Tôi
              </a>
              <a href="vi/security"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Bảo Mật
              </a>
              <a href="vi/faq"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Câu Hỏi Thường Gặp
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="txt ts-lg-16 tc-lblue tw-300 mb-4">
        
          Giao dịch Ngoại hối (Forex) và Hợp đồng Chênh lệch (CFD) có tính đầu cơ cao, mang mức độ rủi ro cao và có thể không phù hợp với tất cả các nhà đầu tư. Bạn có thể bị thua lỗ một số hoặc tất cả vốn đầu tư của bạn, do đó, bạn không nên đầu cơ với số vốn mà bạn không được phép thua lỗ. Bạn nên hiểu biết tất cả các rủi ro liên quan đến giao dịch ký quỹ.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="txt ts-lg-16 tc-lblue tw-300 mb-4">
          Trang web này được tiếp thị và điều hành bởi Blue Sun Capital Ltd có trụ sở tại P.B. 1257 Bonovo Road, Fomboni, Comoros, KM. Các điều khoản pháp lý bị hạn chế: Chúng tôi không thiết lập tài khoản cho công dân thuộc các khu vực pháp lý nhất định bao gồm Hoa Kỳ, Nhật Bản, Triều Tiên, Iran, EU và EEA. Để biết thêm chi tiết, vui lòng xem Điều khoản & Điều kiện.
        </p>
      </div>
    </div>
    <p class="txt ts-lg-16 tc-lblue tw-300">
      Copyright © 2022 SpotTop. All rights reserved.
    </p>
  </div>
</footer>