<header class="header" id="header">
  <div class="container">
    <div class="header__row d-none">
      <div class="header__row--alert">
        <p class="txt ta-center p-2">
        </p>
      </div>
    </div>
    <div class="header__row">
      <div class="header__col">
        <a class="header__logo" href="vi">
          <img src="public/img/logo/logo.svg" alt="logo">
        </a>
      </div>
      <div class="header__col">
        <div class="header__routes">
          
          <div class="header__routes-item">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>Công cụ</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a class="header__exp-link" href="vi/forex">Ngoại hối</a>
                <a class="header__exp-link" href="vi/crypto">Tiền điện tử</a>
                <a class="header__exp-link" href="vi/stocks">Cổ phiếu</a>
                <a class="header__exp-link" href="vi/commodities">Hàng hóa</a>
                <a class="header__exp-link" href="vi/indices">Chỉ số</a>
                <a class="header__exp-link" href="vi/bonds">Trái phiếu</a>
              </div>
            </div>
          </div>
          <div class="header__routes-item">
            <a class="header__link" href="vi/platform">Nền Tảng
            </a>
          </div>
          <div class="header__routes-item">
            <a class="header__link" href="vi/accounts">Tài Khoản</a>
          </div>
          <div class="header__routes-item">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>Công Ty</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a class="header__exp-link" href="vi/about">Về Chúng Tôi</a>
                <a class="header__exp-link" href="vi/security">Bảo Mật</a>
                <a class="header__exp-link" href="vi/faq">Câu Hỏi Thường Gặp</a>
              </div>
            </div>
          </div>
          <div class="header__routes-item">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>Chính sách</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a target="_blank" class="header__exp-link" href="./public/files/Terms_and_Conditions.pdf">Các điều khoản và điều kiện
                </a>
                <a target="_blank" class="header__exp-link" href="./public/files/Privacy_Policy.pdf">Chính sách bảo mật</a>
                <a target="_blank" class="header__exp-link" href="./public/files/Refund_Policy.pdf">Chính sách hoàn lại tiền</a>
                <a target="_blank" class="header__exp-link" href="./public/files/AML_and_KYC_Policy.pdf">Chính sách AML & KYC</a>
                <a target="_blank" class="header__exp-link" href="./public/files/Risk_Disclaimer.pdf">Rủi Ro</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__col">
        <div class="header__routes">
          <div class="header__routes-item header__routes-item--switcher">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>VI</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a href="/en" class="header__exp-link js-switcher" data-replace="false">English</a>
                <a href="/vi" class="header__exp-link js-switcher" data-replace="false">Tiếng Việt</a>
              </div>
            </div>
          </div>
          <div class="header__routes-item">
            <a target="_blank" href="" class="btn btn-light btn-w-120">
              Đăng nhập
            </a>
          </div>
          <div class="header__routes-item">
            <a target="_blank" href="" class="btn btn-border btn-w-140">
              Đăng ký
            </a>
          </div>
        </div>
      </div>
      <div class="header__col">
        <div class="header__control">
          <div class="toggle-nav">
            <label class="toggle-nav__wrapper js-toggle-nav" for="toggle-nav">
              <span class="toggle-nav__area">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>