<nav class="nav" id="nav">
  <div class="nav__wrapper">
    <div class="nav__row mb-4">
      <div class="nav__routes">
        <div class="nav__exp">
          <input type="checkbox" id="nav-exp-1">
          <label class="nav__exp-head" for="nav-exp-1">
            <span>Công cụ</span>
            <i class="nav__exp-icon"></i>
          </label>
          <div class="nav__exp-body">
            <a class="nav__exp-link" href="vi/forex">Ngoại hối</a>
            <a class="nav__exp-link" href="vi/crypto">Tiền điện tử</a>
            <a class="nav__exp-link" href="vi/stocks">Cổ phiếu</a>
            <a class="nav__exp-link" href="vi/commodities">Hàng hóa</a>
            <a class="nav__exp-link" href="vi/indices">Chỉ số</a>
            <a class="nav__exp-link" href="vi/bonds">Trái phiếu</a>
          </div>
        </div>
        <a class="nav__routes-item" href="vi/platform">Nền Tảng Giao Dịch</a>
        <a class="nav__routes-item" href="vi/accounts">Tài Khoản</a>
        <a class="nav__routes-item" href="vi/about">Về Chúng Tôi</a>
        <a class="nav__routes-item" href="vi/security">Bảo Mật</a>
        <a class="nav__routes-item" href="vi/faq">Câu Hỏi Thường Gặp</a>
        <div class="nav__exp">
          <input type="checkbox" id="nav-exp-2">
          <label class="nav__exp-head" for="nav-exp-2">
            <span>Chính sách</span>
            <i class="nav__exp-icon"></i>
          </label>
          <div class="nav__exp-body">
            <a target="_blank" class="nav__exp-link" href="./public/files/Terms_and_Conditions.pdf">Các điều khoản và điều kiện
            </a>
            <a target="_blank" class="nav__exp-link" href="./public/files/Privacy_Policy.pdf">Chính sách bảo mật</a>
            <a target="_blank" class="nav__exp-link" href="./public/files/Refund_Policy.pdf">Chính sách hoàn lại tiền</a>
            <a target="_blank" class="nav__exp-link" href="./public/files/AML_and_KYC_Policy.pdf">Chính sách AML & KYC</a>
            <a target="_blank" class="nav__exp-link" href="./public/files/Risk_Disclaimer.pdf">Rủi Ro</a>
          </div>
        </div>
        <div class="nav__exp">
          <input type="checkbox" id="nav-exp-3">
          <label class="nav__exp-head" for="nav-exp-3">
            <span>Tiếng Việt</span>
            <i class="nav__exp-icon"></i>
          </label>
          <div class="nav__exp-body">
            <a class="nav__exp-link" href="/en">English</a>
            <a class="nav__exp-link" href="/vi">Tiếng Việt</a>
          </div>
        </div>
      </div>
    </div>
    <div class="nav__row d-flex justify-content-center">
      <a href="https://client.spottop.co.uk/vi/client.add/" class="btn btn-border btn-w-120 me-3">
        Đăng ký
      </a>
      <a href="" class="btn btn-light btn-w-120">
        Đăng nhập
      </a>
    </div>
  </div>
</nav>