@media (min-width: $s-xs) {
  .accordeon {
    &__item {
      min-height: 120px;
      position: relative;
      border: none;
      // background: gray;
      border-bottom: 2px solid lighten(map-get($bc, 'gray'), 24%);
      cursor: pointer;
      & > a {
        text-decoration: none;
      }
    }
    &__header {
      position: relative;
      display: flex;
      align-items: center;
      padding: 20px 40px 20px 54px;
      width: 100%;
      min-height: 120px;
      &::before {
        content: '';
        width: 40px;
        height: 40px;
        background: url('../../../../../public/img/icons/ico-accordeon-arrow.svg') no-repeat;
        position: absolute;
        top: 40px;
        left: 0;
        transition: all .2s ease-in-out;
        transform: rotate(180deg);
      }
      &.active  {
        & ~ .accordeon__content {
          p {
            transition-delay: 3s;
            opacity: 1;
            transition: 3s all ease-in-out;
            visibility: visible;
          }
         
        }
        &::before {
          transform: rotate(0deg);
        }
      }
      
    }
    &__content {
      padding: 0px 40px 20px 54px;
      display: none;
      cursor: default;
      p {
        transition: .2s all ease-in-out;
        opacity: 0;
        visibility: hidden;
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      padding-left: 30px;
      list-style: none;
      li {
        position: relative;
        &:before {
          position: absolute;
          content: '';
          width: 12px;
          height: 12px;
          top: 8px;
          left: -28px;
          background: map-get($bc, 'gray' );
          border-radius: 50%;


        }
      }
    }
    ol {
      padding-left: 30px;
      list-style: decimal;
    }
  }
}
@media (min-width: $s-sm) {
}
@media (min-width: $s-md) {}
@media (min-width: $s-lg) {}
@media (min-width: $s-xl) {}
@media (min-width: $s-xxl) {}