@media (min-width: $s-xs) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .box {
    &-border {
      border-radius: 24px;
      padding: 24px;
      &-white {
        padding-top: 40px;
        border: 1px solid lighten(map-get($bc , 'gray' ), 20%);
        background: $w;
      }
      &-award {
        position: relative;
        border: 2px solid map-get($bc , 'lgreen' );
        min-height: 336px;
        height: 100%;
        transition: all ease-in-out .1s;
        &::after, &::before {
          content: '';
          position: absolute;
        }
        &::before {
          top: 24px;
          left: 24px;
          width: 54px;
          height: 54px;
          background: url('../../../../public/img/icons/ico-award.svg') center no-repeat;
          z-index: 98;
        }
        &::after {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          background: linear-gradient( 135deg, map-get($bc, 'lgreen'), map-get($bc, 'yellow'), map-get($bc, 'orange'));
          z-index: 0;
          opacity: 0;
          transition: all ease-in-out .2s;
        }
        &:hover {
          border: none;
          height: 105%;
          transform: translateY(-5%);
          &::after {
            opacity: 1;
          }
          .tit, .txt {
            z-index: 2;
            position: relative;
            color: map-get($bc, 'dblue' ) !important;
          }
        }
      }
    }
    &-bg {
      &-gray {
        border-radius: 36px;
        height: 100%;
        padding-bottom: 0;
        background: lighten(map-get($bc, 'gray' ), 26%);
        
      }
      &-dblue{
        border-radius: 36px;
        height: 100%;
        background: map-get($bc,'dblue' );
        p, h1, h2, h3, h4 {
          color: $w;
        }
        
      }
    }
  }
  .hr-gray {
    width: 96%;
    margin-top: 24px;
    margin-bottom: 28px;
    border: 1px lighten(map-get($bc, 'gray' ), 20%) solid;
    background: lighten(map-get($bc, 'gray' ), 20%);
  }
  .hr-white {
    width: 96%;
    margin-top: 24px;
    margin-bottom: 28px;
    border: 0px none solid;
    background: $w;
  }
}
@media (min-width: $s-sm) {}
@media (min-width: $s-md) {}
@media (min-width: $s-lg) {
  .box {
    &-border {
      &-award {
      }
    }
    &-bg {
      &-gray {
        padding-bottom: 0;

      }
    }
  }
}
@media (min-width: $s-xl) {}
@media (min-width: $s-xxl) {}