@media (min-width: $s-xs) {
  .container-head{
    text-align: center;
    h3{
        color: #fff;
    }
}


  .view {
    &--homepage {
      .crypto {
        img {
          &[id='img-on-other-pages'] {
            display: none;
          }
        }
        &__table {
          tr {
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9) {
              display: none;
            }
          }
        }
      }
    }
    &--platform, &--prices {
      .crypto {
        img {
          &[id='img-on-other-homepage'] {
            display: none;
          }
        }
      }
    }
  }
  div[id="sec-crypto-table"] {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: 2px solid map-get($bc, 'light' );
    }
  }
  .crypto {
    &-value {
      width: 0;
      visibility: hidden;
      max-width: 0px;
      opacity: 0;
      cursor: pointer;
      text-align: end;
    }
    &__table {
      width: 100%;
      color: map-get($bc, 'gray' );
      border: none;
      thead {
        tr {
          color: darken(map-get($bc, 'gray' ),20%);
          height: 50px;
          border-bottom: 1px solid darken(map-get($bc, 'light' ),8%);

          th {
            padding: 0;

            text-align: end;
            vertical-align: middle;
            padding: 0 10px;
            &:nth-of-type(1) {
              text-align: start;
            }
          }
        }
      }
      tbody {
        tr {
          height: 77px;
          transition: .2s all ease-in-out;
          border-bottom: 1px solid darken(map-get($bc, 'light' ),8%);
          &:hover {
            background: darken(map-get($bc, 'light' ),1%);
          }
          th, td {
            position: relative;
            padding: 0 10px;
            text-align: end;
            vertical-align: middle;
            &:nth-of-type(1) {
              text-align: start;
            }
            span {
              position: relative;
              top: -5px;
            }
          }
          td {
            text-transform: capitalize;
            img {
              margin: 0px 10px 0px 0;
            }
            &:nth-of-type(1) {
              font-weight: 600;
              min-width: 206px;
              color: darken(map-get($bc, 'gray' ),20%);
            }
          }
          p {
            display: inline-block;
            padding: 2px 0px 2px 22px;
          }
        }
      }
    }
    &__widget {
      display: none;
      justify-content: space-between;
      align-items: center;
      min-width: none;
      max-width: 390px;
      width: 100%;
      padding: 30px;
      border-radius: 36px;
      background: $w;
      border: 1px solid lighten(map-get($bc, 'gray' ), 20%);
      margin: 8px;
      &-logo {
        display: block;
        margin-right: 20px;
        img {
          width: 54px;
          height: 54px;
        }
      }
      &-name {
        align-self: flex-start;
        justify-self: start;
        h3 {
          text-transform: uppercase;
        }
      }
      &-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px 22px 0 10px;
        text-align: right;
        p:nth-child(1) {
          padding: 2px 12px 2px 22px;
          border-radius: 20px;
          background: lighten(map-get($bc, 'gray' ), 26%);
        }
      }
      &.bitcoin,
      &.ethereum,
      &.tether {
        display: flex;
      }
    }
    &__calc {
      width: 100%;
      &-box{
        display: flex;
        flex-direction: column;
        padding: 40px;

        border-radius: 36px;
        background: map-get($bc, 'dblue' );
        .crypto__label {
          text-transform: capitalize;
          display: flex;
          align-items: center;
          height: 100%;
          width: fit-content;
          cursor: pointer;
          img {
            margin-right: 10px;
          }
        
        }
      }
      &-input {
        &-item {
          &-field {
            display: flex;
            min-height: 60px;
            max-height: 60px;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-top: 14px;
            background: transparent;
            border-radius: 8px;
            border: 2px solid map-get($bc, 'lblue' );
            input {
              width: 50%;
              background: transparent;
              padding: 14px;
              color: $w;
              outline: none;
              border: none;
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              &::placeholder {
                color: map-get($bc, 'lblue');
                font-size: 16px;
                transition: .1s all ease-in-out;
                opacity: 1;
                visibility: visible;
              }
              &:focus {
                &::placeholder {
                  font-size: 0;
                  opacity: 0;
                  visibility: hidden;
                }
              }
            }
          }
        }
      }
      &-select {
        padding: 0 14px 0 0;
        position: relative;
        width: 50%;
       
        &-field {
          height: 56px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.001);
          input  {
            border: none;
            border-radius: 10px;
            font-size: 16px;
            background: transparent;
            &:focus {
              outline: none;
            }
            &::placeholder {
              text-transform: capitalize;
              color: map-get($bc, 'lblue' );
            }
          }
          &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 70%;
            top: 15%;
            left: -14px;
            background: map-get($bc, 'lblue' );
          }
        }
        &-list {
          overflow-y: auto;
          max-height: 240px;
          position: absolute;
          right: 0;
          width: fit-content;
          max-width: 230px;
          min-width: 200px;
          margin-top: 16px;
          background: lighten(map-get($bc, 'dblue' ), 10%);
          color: map-get($bc, 'lblue' );
          border-radius: 18px;
          visibility: hidden;
          opacity: 0;
          transition: all ease-in-out .2s;
          z-index: 1;
          &::-webkit-scrollbar {
            width: 0px;
          }
          &::-webkit-scrollbar-thumb {
            background: 2px solid map-get($bc, 'light' );
          }
          &.active {
            visibility: visible;
            opacity: 1;
          }
          &-item {
            height: 60px;
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            padding: 0 0px 0 16px;
            cursor: pointer;
            transition: .1s all ease-in-out;
            &:hover {
              width: 100%;
              background: map-get($bc, 'lblue' );
              p, span, label {
                color: $w !important;
                transition: .1s all ease-in-out;
              }

            }
          }
        }
        
      }
      .converted-result {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        &:nth-of-type(1) {
          input {
            color: $w;
            background: transparent;
            outline: none;
            border: none;
            cursor: default;
            &[id="converted-result-main"] {
              position: relative;
              max-width: 600px;
              width: 100%;
              text-align: center;
              height: 100px;
              color: $w;
              font-size: 6vmax;
              font-weight: 700;
             
            }
            &[id="converted-result-smaller"] {
              min-width: 100%;
              height: 60px;
              color: $w;
              font-weight: 600;
              font-size: 18px;
            }
            &[id="converted-result-smaller-2"] {
              text-align: center;
              height: 30px;
              color: map-get($bc, 'lblue' );
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
        &::after {
          position: absolute;
          content: '';
          top: 3%;
          right: 0;
          height: 94%;
          width: 30%;
          background: linear-gradient(to right, transparent, map-get($bc, 'dblue') 80%);
        }
      }
    }
    & .change {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 39%;
        left: 10px;
        width: 12px;
        height: 6px;
      }
    }
    &.rising {
      & .price, & .change {
        color: map-get($bc, 'green') !important;
      }
      & .change {
        &:before {
          background: url('../../../../public/img/icons/ico-rising.svg') no-repeat;
        }
      }
    }
    &.falling {
      & .price, & .change {
        color: map-get($bc, 'red' ) !important;
      }
      & .change {
        &:before {
          background: url('../../../../public/img/icons/ico-falling.svg') no-repeat;
        }
      }
    }
  }
}
@media (min-width: $s-sm) {
  .crypto {
    &__table {
      thead {
        tr {
          th {
            &:last-child {
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:last-child {
              
            }
          }
        }
      }
    }
  }
}
@media (min-width: $s-md) {}
@media (min-width: $s-lg) {}
@media (min-width: $s-xl) {}
@media (min-width: $s-xxl) {}