@media (min-width: $s-xs) {
  .container-head{
    text-align: center;
    h3{
        color: #fff;
    }
}

.calc {
  &__box{
    color: #fff !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    border-radius: 36px;
    background: map-get($bc, 'dblue' );
  }
  &__input {
    &-item {
      &-field {
        display: flex;
        flex-direction: row;
        margin-top: 14px;
        background: transparent;
        border-radius: 8px;
        border: 2px solid map-get($bc, 'lblue' );
        input, select {
          background: transparent;
          padding: 14px;
          color: $w;
          outline: none;
          border: none;
        }
        input {
          width: 60%;
        }
        select {
          width: 40%;
          option {
            color: $b;
          }
        }
      }
    }
  }

 
}
.convert-btn{
    text-align: center;
    margin: 1rem;
    input{
        width: 5rem;
        height: 2rem;
        font-size: 1.2rem;
        background: green; color: #fff;
        border: none; outline: none; border-radius: .2rem;
        &:hover{
            cursor: pointer;
            background: greenyellow;
        }
    }
}
.display-result{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1rem;
}
}
@media (min-width: $s-sm) {
}
@media (min-width: $s-md) {}
@media (min-width: $s-lg) {}
@media (min-width: $s-xl) {}
@media (min-width: $s-xxl) {}