@media (min-width: $s-xs) {
  footer {
    padding: 90px 0 60px 0;
    background: map-get($bc,'dblue' );
    .row {
      &:nth-child(3) {
      padding-top: 40px;
      border-top: 2px solid map-get($bc, 'lblue');
     }
    }
  }
}
@media (min-width: $s-sm) {}
@media (min-width: $s-md) {}
@media (min-width: $s-lg) {}
@media (min-width: $s-xl) {}
@media (min-width: $s-xxl) {}