@media (min-width: $s-xs) {
  .header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: map-get($hh, "mob");
    background: map-get($bc, "light");
    // position: fixed;
    z-index: 999;
    // border-bottom: 1px solid #ccc;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--alert {
        background-color: map-get($bc, "red");
        margin: 2px;
        color: $w;
        border-radius: 10px;
      }
    }
    &__col {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        display: none;
      }
      &:last-child {
      }
    }
    &__logo {
      display: block;
      width: 128px;
      img {
        width: 100%;
        position: relative;
        top: -6px;
      }
    }
    &__routes {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        &--switcher {
          display: none;
        }
      }
    }
    &__link,
    &__exp-head {
      display: flex;
      justify-content: center;
      align-items: center;
      height: map-get($hh, "mob");
      padding: 0 15px;
      text-decoration: none;
      color: map-get($bc, "gray");
      &:hover {
        color: map-get($bc, "orange");
      }
    }
    &__exp {
      position: relative;
      display: flex;
      justify-content: center;
      cursor: pointer;
      &::after,
      &::before {
        content: "";
        width: 8px;
        height: 2px;
        background: map-get($bc, "gray");
        position: absolute;
        top: 40px;
        transition: all 0.2s ease-in-out;
      }
      &::before {
        transform: rotate(140deg);
        right: 15px;
      }
      &::after {
        transform: rotate(40deg);
        right: 20px;
      }
      &:hover {
        &::before {
          right: 20px;

          // background: map-get($bc, 'orange' );
        }
        &::after {
          right: 15px;

          // background: map-get($bc, 'orange' );
        }
      }
      &-head {
        min-width: fit-content;
        padding-right: 34px;
        display: flex;
        align-items: center;
      }
      &-body {
        position: absolute;
        top: calc(100% - 12px);
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        background: $w;
        box-shadow: 0 0 20px 10px rgba($b, 0.05);
        visibility: hidden;
        opacity: 0.7;
        transform: scale(0.1) translateY(-600%) translateX(300px);
        transition: all 0.2s ease-in-out;
      }
      &-link {
        white-space: nowrap;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
        color: $w;
        transition: 0.2s;
        &:hover {
          background: lighten(map-get($bc, "orange"), 34%);
        }
      }
      &:hover {
        .header__exp {
          &-body {
            visibility: visible;
            opacity: 1;
            transform: translateY(0%) translateX(0px) scale(1);
          }
          &-link {
            color: map-get($bc, "gray");
            &:hover {
              color: map-get($bc, "orange");
            }
          }
        }
      }
    }
    &__control {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .nav {
    position: fixed;
    // top: 0;
    // top: map-get($hh, 'mob');
    right: 0;
    width: 100%;
    height: calc(100vh);
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 989;

    &__wrapper {
      // padding-top: map-get($hh, "mob");
      width: 100%;
      min-height: 100%;
      background: map-get($bc, "light");
      // background: transparent;
      box-shadow: 0 350px 200px 100px rgba(0, 0, 0, 0.08);
      overflow-y: auto;
    }
    &__routes {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 10px;

      &-item {
        width: 100%;
        margin-bottom: 5px;
        padding: 14px 10px;
        border-bottom: 1px solid lighten(map-get($bc, "lblue"), 30%);
        text-decoration: none;
        color: map-get($bc, "dblue");
        transition: 0.1s;
        font-weight: 500;
        &:hover {
          // background: lighten(map-get($bc, 'orange' ), 20%) ;
          color: map-get($bc, "orange");
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__exp {
      width: 100%;
      // background: rgb(149, 149, 149);

      input {
        display: none;

        &:checked {
          ~ .nav__exp {
            &-head {
              // background: rgb(129, 129, 129);
            }
            &-body {
              padding: 10px 10px;
              transition: padding 0.2s ease-in-out;

              .nav__exp {
                &-link {
                  padding: 14px 10px;
                  line-height: 1;
                  opacity: 1;
                  transition: padding 0.2s ease-in-out,
                    opacity 0.2s 0.2s ease-in-out, line-height 0.2s ease-in-out;
                }
              }
            }
          }
        }
      }
      &-head {
        display: block;
        width: 100%;
        padding: 14px 10px;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        color: map-get($bc, "dblue");
        font-weight: 500;
        &:hover {
          color: map-get($bc, "orange");
        }
      }
      &-body {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        transition: padding 0.2s 0.2s ease-in-out;
      }
      &-link {
        padding: 0 10px;
        line-height: 0;
        opacity: 0;
        overflow: hidden;
        text-decoration: none;
        color: $b;
        transition: padding 0.2s 0.2s ease-in-out, opacity 0.2s ease-in-out,
          line-height 0.2s 0.2s ease-in-out;

        &:hover {
          color: map-get($bc, "orange");
        }
      }
    }
    &.active {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
    }
  }
  .toggle-nav {
    position: relative;
    z-index: 99;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
      border-radius: 50%;
      background: map-get($bc, "yellow");
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;

      &.active {
        .toggle-nav {
          &__area {
            span {
              &:nth-of-type(1),
              &:nth-of-type(3) {
                transition-delay: 0s, 0.2s;
              }
              &:nth-of-type(2) {
                background-color: transparent;
                transition-delay: 0.2s;
              }
              &:nth-of-type(1) {
                margin: 9px 0 0 0;
                transform: rotate(45deg);
              }
              &:nth-of-type(3) {
                margin: 0 0 9px 0;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
    &__area {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 20px;

      span {
        width: 26px;
        height: 2px;
        background-color: map-get($bc, "dblue");
        display: block;

        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(1),
        &:nth-of-type(3) {
          position: absolute;
          margin: 0;
          transition-property: margin, transform;
          transition-duration: 0.2s;
          transition-delay: 0.2s, 0s;
        }
        &:nth-of-type(2) {
          margin: 0 auto;
          position: relative;
          transition-duration: 0s;
          transition-delay: 0.2s;
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
    }
  }
}
@media (min-width: $s-sm) {
  .nav {
    top: 0;
    // top: map-get($hh, 'mob');

    max-width: 320px;
    height: 100vh;
    transform: translateX(320px);
    z-index: 991;
  }
  .toggle-nav {
    position: relative;
    z-index: 99;
    &__wrapper {
      transition: all 0.3s ease-in-out;

      &.active {
        // transform: translateX(calc((100vw - 540px) / 2 - 336px))
      }
    }
  }
}
@media (min-width: $s-md) {
  .toggle-nav {
    &__wrapper {
      &.active {
        // transform: translateX(calc((100vw - 720px) / 2 - 336px))
      }
    }
  }
}
@media (min-width: $s-lg) {
  .toggle-nav {
    &__wrapper {
      &.active {
        // transform: translateX(calc((100vw - 960px) / 2 - 336px))
      }
    }
  }
}
@media (min-width: $s-xl) {
  .header {
    min-height: map-get($hh, "mob");

    &__col {
      &:last-child {
        display: none;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        display: block;
      }
    }
    &__routes {
      &-item {
        &--switcher {
          display: block;
        }
      }
    }
    &__link,
    &__exp-head {
      height: map-get($hh, "mob");
    }
  }
  .toggle-nav {
    display: none;
    &__wrapper {
      &.active {
        transform: translateX(calc((100vw - 1140px) / 2 - 336px));
      }
    }
  }
}
@media (min-width: $s-xxl) {
  .toggle-nav {
    &__wrapper {
      &.active {
        transform: translateX(calc((100vw - 1320px) / 2 - 336px));
      }
    }
  }
}
