@media (min-width: $s-xs) {
  .img, .ico {
    img {
      display: block;
      width: 100%;
    }
  }
  .img {
    &-hp {
      &-1woman {
        border-radius: 100px;
        max-width: 648px;
      }
      &-1man {
        border-radius: 100px;
        max-width: 648px;
      }
      &-cards {
        max-width: 312px;
        border-radius: 14px;
      }
    }
    &-dc {
      &-phone {
        max-width: 392px;
      }
    }
    &-dw {
      &-1man {
        max-width: 648px;
      }
    }
    &-about {
      &-2ppl {
        max-width: 536px;
      }
      &-phone {
        max-width: 428px;
      }
    }
    &-security {
      &-2folders {
        max-width: 648px;
      }
      &-1man {
        max-width: 560px;
      }
    }
    &-logo {
      &-footer {
        max-width: 160px;
      }
    }
  }
  .ico {
    &-circle {
      &-w40 {
        min-width: 40px;
        max-width: 40px;
      }
      &-w60 {
        min-width: 60px;
        max-width: 60px;
      }
    }
  }
}
@media (min-width: $s-sm) {}
@media (min-width: $s-md) {}
@media (min-width: $s-lg) {

}
@media (min-width: $s-xl) {}
@media (min-width: $s-xxl) {}