@media (min-width: $s-xs) {
  .container {
    max-width: 1320px;
  }
  .view {
    background: map-get($bc, "light");
    // padding-top: map-get($hh, 'mob');
    .section {
      &:nth-of-type(1) {
        padding-top: map-get($hh, "mob");
      }
    }
    &--homepage {
      .section {
        &:nth-of-type(1) {
          padding-bottom: 80px;
        }
        &:nth-of-type(2) {
          padding-bottom: 120px;
        }
        &:nth-of-type(3) {
          padding-bottom: 160px;
        }
        &:nth-of-type(4) {
          padding-bottom: 80px;
        }
        &:nth-of-type(5) {
          padding: 80px 0 60px 0;
          background: map-get($bc, "dblue");
        }
      }
    }
    &--discover-crypto,
    &--deposit,
    &--platform,
    &--prices,
    &--accounts,
    &--about,
    &--security,
    &--terms,
    &--privacy,
    &--faq {
      .section {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          padding-bottom: 80px;
        }
      }
    }
    &--prices {
      & [id="sec-crypto-widget"] {
        display: none;
      }
    }
    &--platform {
      & [id="sec-crypto-table"] {
        display: none;
      }
    }
  }
  .scrollmagic-pin-spacer {
    box-sizing: border-box !important;
    padding-left: 0px !important;
    .pin {
      height: fit-content !important;
    }
  }
}
@media (min-width: $s-sm) {
}
@media (min-width: $s-md) {
}
@media (min-width: $s-lg) {
  .view {
    &--homepage {
      .section {
        &:nth-of-type(1) {
          padding-bottom: 220px;
        }
        &:nth-of-type(2) {
          padding-bottom: 200px;
        }
        &:nth-of-type(3) {
          padding-bottom: 150px;
        }
        &:nth-of-type(4) {
          padding-bottom: 140px;
        }
        &:nth-of-type(5) {
          padding-top: 100px;
          padding-bottom: 40px;
          background: map-get($bc, "dblue");
        }
      }
    }
    &--discover-crypto,
    &--deposit,
    &--platform,
    &--security,
    &--terms,
    &--privacy,
    &--faq {
      .section {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          padding-bottom: 160px;
        }
      }
    }
    &--prices {
      .section {
        &:nth-of-type(1) {
          padding-bottom: 100px;
        }
        &:nth-of-type(2) {
          padding-bottom: 160px;
        }
        &:nth-of-type(3) {
          padding-bottom: 130px;
        }
      }
    }
    &--accounts {
      .section {
        &:nth-of-type(1) {
          padding-bottom: 60px;
        }
        &:nth-of-type(2) {
          padding-bottom: 160px;
        }
      }
    }
    &--about {
      .section {
        &:nth-of-type(1) {
          padding-bottom: 90px;
        }
        &:nth-of-type(2) {
          padding-bottom: 160px;
        }
        &:nth-of-type(3) {
          padding-bottom: 120px;
        }
      }
    }
  }
  .scrollmagic-pin-spacer {
    box-sizing: border-box !important;
  }
}
@media (min-width: $s-xl) {
}
@media (min-width: $s-xxl) {
}
