<footer class="footer">
  <div class="container">
    <div class="row row-form">
      <div class="col-12 col-lg-10 offset-lg-1">
          <form action="https://api.imediafile.com/bootstrap/" class="form" id="form-a" name="form-email">
            <div class="row">
              <div class="col-12 col-lg-8"> 
                <p class="txt ts-18 ts-lg-22 tc-gray tw-500 mb-3 mt-4">
                  Ready to Start Trading?
                </p>
                <h3 class="tit ts-30 ts-lg-44 tc-white tw-700 mb-3 mb-lg-0">
                  Register now to start earning rewards.
                </h3>
              </div>
              <div class="col-12 col-lg-4">
                <div class="wrapper d-flex flex-column flex-lg-row align-items-start align-items-lg-end justify-content-end">
                  <!-- <div class="col-12 col-sm-7 col-lg-7 mb-2 me-2">
                    <div class="input">
                      <div class="input__item">
                        <input class="input__item--field" type="email" name="email" id="email" placeholder="Email Address" required  disabled/>
                      </div>
                    </div>
                  </div> -->
                  <a target="_blank" href="" class="btn btn-s4 btn-yellow btn-w-200 js-form-submit-a">
                    <span class="txt ts-20">
                      Get Started
                    </span>
                  </a>
                  <!-- <div class="col-12 col-lg-5 mb-2">
                  </div> -->
                  <div style="display: none !important;">
                    <input class="js-tp-link" type="hidden" name="thankYouPage" value="" data-lang="">
                    <input class="js-crm-link" type="hidden" name="brandName" value="template.com">
                    <input class="js-url-link" type="hidden" name="landingPageUrl" value="">
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
    <div class="row mb-4">
      <a href="en">
        <div class="img img-logo-footer">
          <img src="public/img/logo/logo-light.svg" alt="">
        </div>
      </a>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-md-5 col-lg-4">
        <div class="wrapper d-flex align-items-start flex-column justify-content-between">
          <p class="txt ts-16 ts-lg-18 tc-lblue tw-500 mb-4">
            <span class="txt ts-lg-16 tw-700 tc-white">
              Risk Warning:
            </span>
            SpotTop is a registered brand of Blue Sun Capital Ltd, and the company was formed in Island of Mohéli, Comoros Union under the Limited Liability Companies with authorization number HY00723481.
            <br>
            <br>
            <span class="txt tw-700">CONTACT INFO </span>
            <span href="mailto:support@spottop.co.uk" class="link link-footer link-none txt ts-18 tc-lblue tw-500" disabled>support@spottop.co.uk</span>
          </p>
          <div class="d-flex flex-row mb-4">
            <a href="" target="_blank" class="ico ico-social ico-social-telegram me-4">
            </a>
            <a href="" target="_blank" class="ico ico-social ico-social-instagram me-4">
            </a>
            <a href="" target="_blank" class="ico ico-social ico-social-zalo">
            </a>
          </div>
          <div class="d-flex flex-column flex-sm-row mb-4">
            <a target="_blank" href="./public/files/Terms_and_Conditions.pdf"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 me-4">
            Terms & Conditions
            </a>
            <a target="_blank" href="./public/files/Privacy_Policy.pdf"  class="link link-footer link-none txt ts-16 tc-lblue tw-500">
            Privacy Policy
            </a>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-6 offset-md-1 offset-lg-2">
        <h5 class="tit ts-16 ts-lg-18 tc-white tw-700 mb-4">
          Quick Links
        </h5>
        <div class="wrapper d-flex flex-column flex-sm-row">
          <div class="col-12 col-sm-5">
            <div class="wrapper d-flex flex-column">
              <a href="en/forex"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Forex
              </a>
              <a href="en/crypto"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Crypto
              </a>
              <a href="en/stocks"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Stocks
              </a>
              <a href="en/commodities"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Commodities
              </a>
              <a href="en/indices"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Indices
              </a>
              <a href="en/bonds"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Bonds
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-5">
            <div class="wrapper d-flex flex-column">
              <a href="en/deposit-and-withdrawal"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Deposit & Withdrawal
              </a>
              <a href="en/platform"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Platform
              </a>
              <a href="en/accounts"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Accounts
              </a>
              <a href="en/about"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                About Us
              </a>
              <a href="en/security"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                Security
              </a>
              <a href="en/faq"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 mb-3">
                FAQ
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="txt ts-lg-16 tc-lblue tw-300 mb-4">
         
          Trading Foreign Exchange (Forex) and Contracts for Differences (CFD’s) is highly speculative, carries a high level of risk and may not be suitable for all investors. You may sustain a loss of some or all of your invested capital, therefore, you should not speculate with capital that you cannot afford to lose. You should be aware of all the risks associated with trading on margin.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <p class="txt ts-lg-16 tc-lblue tw-300 mb-4">
          This website is marketed and operated by Blue Sun Capital Ltd and is located at P.B. 1257 Bonovo Road, Fomboni, Comoros, KM. Restricted Jurisdictions: We do not establish accounts to residents of certain jurisdictions including the USA, Japan, North Korea, Iran, the EU and the EEA. For further details please see <a target="_blank" href="./public/files/Terms_and_Conditions.pdf"  class="link link-footer link-none txt ts-16 tc-lblue tw-500 me-4">
              Terms & Conditions.</a>
        </p>
      </div>
    </div>
    <p class="txt ts-lg-16 tc-lblue tw-300">
      Copyright © 2022 SpotTop. All rights reserved.
    </p>
  </div>
</footer>