<header class="header" id="header">
  <div class="container">
    <div class="header__row d-none">
      <div class="header__row--alert">
        <p class="txt ta-center p-2">
        </p>
      </div>
    </div>
    <div class="header__row">
      <div class="header__col">
        <a class="header__logo" href="en">
          <img src="public/img/logo/logo.svg" alt="logo">
        </a>
      </div>
      <div class="header__col">
        <div class="header__routes">
          
          <div class="header__routes-item">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>Instruments</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a class="header__exp-link" href="en/forex">Forex</a>
                <a class="header__exp-link" href="en/crypto">Crypto</a>
                <a class="header__exp-link" href="en/stocks">Stocks</a>
                <a class="header__exp-link" href="en/commodities">Commodities</a>
                <a class="header__exp-link" href="en/indices">Indices</a>
                <a class="header__exp-link" href="en/bonds">Bonds</a>
              </div>
            </div>
          </div>
          <div class="header__routes-item">
            <a class="header__link" href="en/platform">Platform</a>
          </div>
          <div class="header__routes-item">
            <a class="header__link" href="en/accounts">Accounts</a>
          </div>
          <div class="header__routes-item">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>Company</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a class="header__exp-link" href="en/deposit-and-withdrawal">Deposit & Withdrawal</a>
                <a class="header__exp-link" href="en/about">About Us</a>
                <a class="header__exp-link" href="en/security">Security</a>
                <a class="header__exp-link" href="en/faq">FAQ</a>
              </div>
            </div>
          </div>

          <div class="header__routes-item">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>Policies</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a class="header__exp-link" href="./public/files/Terms_and_Conditions.pdf">Terms & Conditions</a>
                <a class="header__exp-link" href="./public/files/Privacy_Policy.pdf">Privacy Policy</a>
                <a class="header__exp-link" href="./public/files/Refund_Policy.pdf">Refund Policy</a>
                <a class="header__exp-link" href="./public/files/AML_and_KYC_Policy.pdf">AML and KYC Policy</a>
                <a class="header__exp-link" href="./public/files/Risk_Disclaimer.pdf">Risk Disclaimer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__col">
        <div class="header__routes">
          <div class="header__routes-item header__routes-item--switcher">
            <div class="header__exp">
              <p class="header__exp-head">
                <span>EN</span>
                <i class="header__exp-icon"></i>
              </p>
              <div class="header__exp-body">
                <a href="/en" class="header__exp-link js-switcher" data-replace="false">English</a>
                <a href="/vi" class="header__exp-link js-switcher" data-replace="false">Tiếng Việt</a>
              </div>
            </div>
          </div>
          <div class="header__routes-item">
            <a target="_blank" href="" class="btn btn-light btn-w-120">
              Log In
            </a>
          </div>
          <div class="header__routes-item">
            <a target="_blank" href="" class="btn btn-border btn-w-140">
              Sign Up
            </a>
          </div>
        </div>
      </div>
      <div class="header__col">
        <div class="header__control">
          <div class="toggle-nav">
            <label class="toggle-nav__wrapper js-toggle-nav" for="toggle-nav">
              <span class="toggle-nav__area">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>