<nav class="nav" id="nav">
  <div class="nav__wrapper">
    <div class="nav__row mb-4">
      <div class="nav__routes">
        <div class="nav__exp">
          <input type="checkbox" id="nav-exp-1">
          <label class="nav__exp-head" for="nav-exp-1">
            <span>Instruments</span>
            <i class="nav__exp-icon"></i>
          </label>
          <div class="nav__exp-body">
            <a class="nav__exp-link" href="en/forex">Forex</a>
            <a class="nav__exp-link" href="en/crypto">Crypto</a>
            <a class="nav__exp-link" href="en/stocks">Stocks</a>
            <a class="nav__exp-link" href="en/commodities">Commodities</a>
            <a class="nav__exp-link" href="en/indices">Indices</a>
            <a class="nav__exp-link" href="en/bonds">Bonds</a>
          </div>
        </div>
       
        <a class="nav__routes-item" href="en/platform">Platform</a>
        <a class="nav__routes-item" href="en/accounts">Accounts</a>
        <a class="nav__routes-item" href="en/about">About Us</a>
        <a class="nav__routes-item" href="en/security">Security</a>
        <a class="nav__routes-item" href="en/faq">FAQ</a>
        <div class="nav__exp">
          <input type="checkbox" id="nav-exp-2">
          <label class="nav__exp-head" for="nav-exp-2">
            <span>Policies</span>
            <i class="nav__exp-icon"></i>
          </label>
          <div class="nav__exp-body">
            <a class="nav__exp-link" href="./public/files/Terms_and_Conditions.pdf">Terms & Conditions</a>
            <a class="nav__exp-link" href="./public/files/Privacy_Policy.pdf">Privacy Policy</a>
            <a class="nav__exp-link" href="./public/files/Refund_Policy.pdf">Refund Policy</a>
            <a class="nav__exp-link" href="./public/files/AML_and_KYC_Policy.pdf">AML and KYC Policy</a>
            <a class="nav__exp-link" href="./public/files/Risk_Disclaimer.pdf">Risk Disclaimer</a>
          </div>
        </div>
        <div class="nav__exp">
          <input type="checkbox" id="nav-exp-3">
          <label class="nav__exp-head" for="nav-exp-3">
            <span>English</span>
            <i class="nav__exp-icon"></i>
          </label>
          <div class="nav__exp-body">
            <a class="nav__exp-link" href="/en">English</a>
            <a class="nav__exp-link" href="/vi">Tiếng Việt</a>
          </div>
        </div>
      </div>
    </div>
    <div class="nav__row d-flex justify-content-center">
      <a href="" class="btn btn-border btn-w-120 me-3">
        Sign Up
      </a>
      <a href="" class="btn btn-light btn-w-120">
        Log In
      </a>
    </div>
  </div>
</nav>