*, ::after, ::before {
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-100.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-200.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-300.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-400.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-500.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-600.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-700.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-800.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../public/fonts/Poppins/Poppins-900.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-100.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-200.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-300.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-400.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-500.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-600.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-700.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-800.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../../public/fonts/Inter/Inter-900.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-100.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-200.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-300.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-400.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-500.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-600.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-700.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-800.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../public/fonts/Roboto/Roboto-900.ttf");
  font-weight: 900;
  font-style: normal;
}
@media (min-width: 0) {
  .ta-center {
    text-align: center;
  }
  .ta-left {
    text-align: left;
  }
  .ta-right {
    text-align: right;
  }
  .ts-10 {
    font-size: 10px;
  }
  .ts-12 {
    font-size: 12px;
  }
  .ts-14 {
    font-size: 14px;
  }
  .ts-16 {
    font-size: 16px;
  }
  .ts-18 {
    font-size: 18px;
  }
  .ts-20 {
    font-size: 20px;
  }
  .ts-22 {
    font-size: 22px;
  }
  .ts-24 {
    font-size: 24px;
  }
  .ts-26 {
    font-size: 26px;
  }
  .ts-28 {
    font-size: 28px;
  }
  .ts-30 {
    font-size: 30px;
  }
  .ts-32 {
    font-size: 32px;
  }
  .ts-34 {
    font-size: 34px;
  }
  .ts-36 {
    font-size: 36px;
  }
  .ts-38 {
    font-size: 38px;
  }
  .ts-40 {
    font-size: 40px;
  }
  .ts-42 {
    font-size: 42px;
  }
  .ts-44 {
    font-size: 44px;
  }
  .ts-46 {
    font-size: 46px;
  }
  .ts-48 {
    font-size: 48px;
  }
  .ts-50 {
    font-size: 50px;
  }
  .ts-52 {
    font-size: 52px;
  }
  .ts-54 {
    font-size: 54px;
  }
  .ts-56 {
    font-size: 56px;
  }
  .ts-58 {
    font-size: 58px;
  }
  .ts-60 {
    font-size: 60px;
  }
  .ts-62 {
    font-size: 62px;
  }
  .ts-64 {
    font-size: 64px;
  }
  .tw-100 {
    font-weight: 100;
  }
  .tw-200 {
    font-weight: 200;
  }
  .tw-300 {
    font-weight: 300;
  }
  .tw-400 {
    font-weight: 400;
  }
  .tw-500 {
    font-weight: 500;
  }
  .tw-600 {
    font-weight: 600;
  }
  .tw-700 {
    font-weight: 700;
  }
  .tw-800 {
    font-weight: 800;
  }
  .tw-900 {
    font-weight: 900;
  }
  .tc-white {
    color: #fcfcfc;
  }
  .tc-black {
    color: #363636;
  }
  .tc-gray {
    color: #aeafb2;
  }
  .tc-red {
    color: #ef4209;
  }
  .tc-orange {
    color: #f29d3e;
  }
  .tc-green {
    color: #07f070;
  }
  .tc-blue {
    color: #1170ff;
  }
  .tc-dblue {
    color: #0c0d29;
  }
  .tc-lblue {
    color: #7d7e90;
  }
  .tc-yellow {
    color: #f6d25d;
  }
}
@media (min-width: 576px) {
  .ta-sm-center {
    text-align: center;
  }
  .ta-sm-left {
    text-align: left;
  }
  .ta-sm-right {
    text-align: right;
  }
  .ts-sm-10 {
    font-size: 10px;
  }
  .ts-sm-12 {
    font-size: 12px;
  }
  .ts-sm-14 {
    font-size: 14px;
  }
  .ts-sm-16 {
    font-size: 16px;
  }
  .ts-sm-18 {
    font-size: 18px;
  }
  .ts-sm-20 {
    font-size: 20px;
  }
  .ts-sm-22 {
    font-size: 22px;
  }
  .ts-sm-24 {
    font-size: 24px;
  }
  .ts-sm-26 {
    font-size: 26px;
  }
  .ts-sm-28 {
    font-size: 28px;
  }
  .ts-sm-30 {
    font-size: 30px;
  }
  .ts-sm-32 {
    font-size: 32px;
  }
  .ts-sm-34 {
    font-size: 34px;
  }
  .ts-sm-36 {
    font-size: 36px;
  }
  .ts-sm-38 {
    font-size: 38px;
  }
  .ts-sm-40 {
    font-size: 40px;
  }
  .ts-sm-42 {
    font-size: 42px;
  }
  .ts-sm-44 {
    font-size: 44px;
  }
  .ts-sm-46 {
    font-size: 46px;
  }
  .ts-sm-48 {
    font-size: 48px;
  }
  .ts-sm-50 {
    font-size: 50px;
  }
  .ts-sm-52 {
    font-size: 52px;
  }
  .ts-sm-54 {
    font-size: 54px;
  }
  .ts-sm-56 {
    font-size: 56px;
  }
  .ts-sm-58 {
    font-size: 58px;
  }
  .ts-sm-60 {
    font-size: 60px;
  }
  .ts-sm-62 {
    font-size: 62px;
  }
  .ts-sm-64 {
    font-size: 64px;
  }
  .tw-sm-100 {
    font-weight: 100;
  }
  .tw-sm-200 {
    font-weight: 200;
  }
  .tw-sm-300 {
    font-weight: 300;
  }
  .tw-sm-400 {
    font-weight: 400;
  }
  .tw-sm-500 {
    font-weight: 500;
  }
  .tw-sm-600 {
    font-weight: 600;
  }
  .tw-sm-700 {
    font-weight: 700;
  }
  .tw-sm-800 {
    font-weight: 800;
  }
  .tw-sm-900 {
    font-weight: 900;
  }
  .tc-sm-white {
    color: #fcfcfc;
  }
  .tc-sm-black {
    color: #363636;
  }
  .tc-sm-gray {
    color: #aeafb2;
  }
  .tc-sm-red {
    color: #ef4209;
  }
  .tc-sm-orange {
    color: #f29d3e;
  }
  .tc-sm-green {
    color: #07f070;
  }
  .tc-sm-blue {
    color: #1170ff;
  }
  .tc-sm-dblue {
    color: #0c0d29;
  }
  .tc-sm-lblue {
    color: #7d7e90;
  }
  .tc-sm-yellow {
    color: #f6d25d;
  }
}
@media (min-width: 768px) {
  .ta-md-center {
    text-align: center;
  }
  .ta-md-left {
    text-align: left;
  }
  .ta-md-right {
    text-align: right;
  }
  .ts-md-10 {
    font-size: 10px;
  }
  .ts-md-12 {
    font-size: 12px;
  }
  .ts-md-14 {
    font-size: 14px;
  }
  .ts-md-16 {
    font-size: 16px;
  }
  .ts-md-18 {
    font-size: 18px;
  }
  .ts-md-20 {
    font-size: 20px;
  }
  .ts-md-22 {
    font-size: 22px;
  }
  .ts-md-24 {
    font-size: 24px;
  }
  .ts-md-26 {
    font-size: 26px;
  }
  .ts-md-28 {
    font-size: 28px;
  }
  .ts-md-30 {
    font-size: 30px;
  }
  .ts-md-32 {
    font-size: 32px;
  }
  .ts-md-34 {
    font-size: 34px;
  }
  .ts-md-36 {
    font-size: 36px;
  }
  .ts-md-38 {
    font-size: 38px;
  }
  .ts-md-40 {
    font-size: 40px;
  }
  .ts-md-42 {
    font-size: 42px;
  }
  .ts-md-44 {
    font-size: 44px;
  }
  .ts-md-46 {
    font-size: 46px;
  }
  .ts-md-48 {
    font-size: 48px;
  }
  .ts-md-50 {
    font-size: 50px;
  }
  .ts-md-52 {
    font-size: 52px;
  }
  .ts-md-54 {
    font-size: 54px;
  }
  .ts-md-56 {
    font-size: 56px;
  }
  .ts-md-58 {
    font-size: 58px;
  }
  .ts-md-60 {
    font-size: 60px;
  }
  .ts-md-62 {
    font-size: 62px;
  }
  .ts-md-64 {
    font-size: 64px;
  }
  .tw-md-100 {
    font-weight: 100;
  }
  .tw-md-200 {
    font-weight: 200;
  }
  .tw-md-300 {
    font-weight: 300;
  }
  .tw-md-400 {
    font-weight: 400;
  }
  .tw-md-500 {
    font-weight: 500;
  }
  .tw-md-600 {
    font-weight: 600;
  }
  .tw-md-700 {
    font-weight: 700;
  }
  .tw-md-800 {
    font-weight: 800;
  }
  .tw-md-900 {
    font-weight: 900;
  }
  .tc-md-white {
    color: #fcfcfc;
  }
  .tc-md-black {
    color: #363636;
  }
  .tc-md-gray {
    color: #aeafb2;
  }
  .tc-md-red {
    color: #ef4209;
  }
  .tc-md-orange {
    color: #f29d3e;
  }
  .tc-md-green {
    color: #07f070;
  }
  .tc-md-blue {
    color: #1170ff;
  }
  .tc-md-dblue {
    color: #0c0d29;
  }
  .tc-md-lblue {
    color: #7d7e90;
  }
  .tc-md-yellow {
    color: #f6d25d;
  }
}
@media (min-width: 992px) {
  .ta-lg-center {
    text-align: center;
  }
  .ta-lg-left {
    text-align: left;
  }
  .ta-lg-right {
    text-align: right;
  }
  .ts-lg-10 {
    font-size: 10px;
  }
  .ts-lg-12 {
    font-size: 12px;
  }
  .ts-lg-14 {
    font-size: 14px;
  }
  .ts-lg-16 {
    font-size: 16px;
  }
  .ts-lg-18 {
    font-size: 18px;
  }
  .ts-lg-20 {
    font-size: 20px;
  }
  .ts-lg-22 {
    font-size: 22px;
  }
  .ts-lg-24 {
    font-size: 24px;
  }
  .ts-lg-26 {
    font-size: 26px;
  }
  .ts-lg-28 {
    font-size: 28px;
  }
  .ts-lg-30 {
    font-size: 30px;
  }
  .ts-lg-32 {
    font-size: 32px;
  }
  .ts-lg-34 {
    font-size: 34px;
  }
  .ts-lg-36 {
    font-size: 36px;
  }
  .ts-lg-38 {
    font-size: 38px;
  }
  .ts-lg-40 {
    font-size: 40px;
  }
  .ts-lg-42 {
    font-size: 42px;
  }
  .ts-lg-44 {
    font-size: 44px;
  }
  .ts-lg-46 {
    font-size: 46px;
  }
  .ts-lg-48 {
    font-size: 48px;
  }
  .ts-lg-50 {
    font-size: 50px;
  }
  .ts-lg-52 {
    font-size: 52px;
  }
  .ts-lg-54 {
    font-size: 54px;
  }
  .ts-lg-56 {
    font-size: 56px;
  }
  .ts-lg-58 {
    font-size: 58px;
  }
  .ts-lg-60 {
    font-size: 60px;
  }
  .ts-lg-62 {
    font-size: 62px;
  }
  .ts-lg-64 {
    font-size: 64px;
  }
  .tw-lg-100 {
    font-weight: 100;
  }
  .tw-lg-200 {
    font-weight: 200;
  }
  .tw-lg-300 {
    font-weight: 300;
  }
  .tw-lg-400 {
    font-weight: 400;
  }
  .tw-lg-500 {
    font-weight: 500;
  }
  .tw-lg-600 {
    font-weight: 600;
  }
  .tw-lg-700 {
    font-weight: 700;
  }
  .tw-lg-800 {
    font-weight: 800;
  }
  .tw-lg-900 {
    font-weight: 900;
  }
  .tc-lg-white {
    color: #fcfcfc;
  }
  .tc-lg-black {
    color: #363636;
  }
  .tc-lg-gray {
    color: #aeafb2;
  }
  .tc-lg-red {
    color: #ef4209;
  }
  .tc-lg-orange {
    color: #f29d3e;
  }
  .tc-lg-green {
    color: #07f070;
  }
  .tc-lg-blue {
    color: #1170ff;
  }
  .tc-lg-dblue {
    color: #0c0d29;
  }
  .tc-lg-lblue {
    color: #7d7e90;
  }
  .tc-lg-yellow {
    color: #f6d25d;
  }
}
@media (min-width: 1200px) {
  .ta-xl-center {
    text-align: center;
  }
  .ta-xl-left {
    text-align: left;
  }
  .ta-xl-right {
    text-align: right;
  }
  .ts-xl-10 {
    font-size: 10px;
  }
  .ts-xl-12 {
    font-size: 12px;
  }
  .ts-xl-14 {
    font-size: 14px;
  }
  .ts-xl-16 {
    font-size: 16px;
  }
  .ts-xl-18 {
    font-size: 18px;
  }
  .ts-xl-20 {
    font-size: 20px;
  }
  .ts-xl-22 {
    font-size: 22px;
  }
  .ts-xl-24 {
    font-size: 24px;
  }
  .ts-xl-26 {
    font-size: 26px;
  }
  .ts-xl-28 {
    font-size: 28px;
  }
  .ts-xl-30 {
    font-size: 30px;
  }
  .ts-xl-32 {
    font-size: 32px;
  }
  .ts-xl-34 {
    font-size: 34px;
  }
  .ts-xl-36 {
    font-size: 36px;
  }
  .ts-xl-38 {
    font-size: 38px;
  }
  .ts-xl-40 {
    font-size: 40px;
  }
  .ts-xl-42 {
    font-size: 42px;
  }
  .ts-xl-44 {
    font-size: 44px;
  }
  .ts-xl-46 {
    font-size: 46px;
  }
  .ts-xl-48 {
    font-size: 48px;
  }
  .ts-xl-50 {
    font-size: 50px;
  }
  .ts-xl-52 {
    font-size: 52px;
  }
  .ts-xl-54 {
    font-size: 54px;
  }
  .ts-xl-56 {
    font-size: 56px;
  }
  .ts-xl-58 {
    font-size: 58px;
  }
  .ts-xl-60 {
    font-size: 60px;
  }
  .ts-xl-62 {
    font-size: 62px;
  }
  .ts-xl-64 {
    font-size: 64px;
  }
  .tw-xl-100 {
    font-weight: 100;
  }
  .tw-xl-200 {
    font-weight: 200;
  }
  .tw-xl-300 {
    font-weight: 300;
  }
  .tw-xl-400 {
    font-weight: 400;
  }
  .tw-xl-500 {
    font-weight: 500;
  }
  .tw-xl-600 {
    font-weight: 600;
  }
  .tw-xl-700 {
    font-weight: 700;
  }
  .tw-xl-800 {
    font-weight: 800;
  }
  .tw-xl-900 {
    font-weight: 900;
  }
  .tc-xl-white {
    color: #fcfcfc;
  }
  .tc-xl-black {
    color: #363636;
  }
  .tc-xl-gray {
    color: #aeafb2;
  }
  .tc-xl-red {
    color: #ef4209;
  }
  .tc-xl-orange {
    color: #f29d3e;
  }
  .tc-xl-green {
    color: #07f070;
  }
  .tc-xl-blue {
    color: #1170ff;
  }
  .tc-xl-dblue {
    color: #0c0d29;
  }
  .tc-xl-lblue {
    color: #7d7e90;
  }
  .tc-xl-yellow {
    color: #f6d25d;
  }
}
@media (min-width: 1400px) {
  .ta-xxl-center {
    text-align: center;
  }
  .ta-xxl-left {
    text-align: left;
  }
  .ta-xxl-right {
    text-align: right;
  }
  .ts-xxl-10 {
    font-size: 10px;
  }
  .ts-xxl-12 {
    font-size: 12px;
  }
  .ts-xxl-14 {
    font-size: 14px;
  }
  .ts-xxl-16 {
    font-size: 16px;
  }
  .ts-xxl-18 {
    font-size: 18px;
  }
  .ts-xxl-20 {
    font-size: 20px;
  }
  .ts-xxl-22 {
    font-size: 22px;
  }
  .ts-xxl-24 {
    font-size: 24px;
  }
  .ts-xxl-26 {
    font-size: 26px;
  }
  .ts-xxl-28 {
    font-size: 28px;
  }
  .ts-xxl-30 {
    font-size: 30px;
  }
  .ts-xxl-32 {
    font-size: 32px;
  }
  .ts-xxl-34 {
    font-size: 34px;
  }
  .ts-xxl-36 {
    font-size: 36px;
  }
  .ts-xxl-38 {
    font-size: 38px;
  }
  .ts-xxl-40 {
    font-size: 40px;
  }
  .ts-xxl-42 {
    font-size: 42px;
  }
  .ts-xxl-44 {
    font-size: 44px;
  }
  .ts-xxl-46 {
    font-size: 46px;
  }
  .ts-xxl-48 {
    font-size: 48px;
  }
  .ts-xxl-50 {
    font-size: 50px;
  }
  .ts-xxl-52 {
    font-size: 52px;
  }
  .ts-xxl-54 {
    font-size: 54px;
  }
  .ts-xxl-56 {
    font-size: 56px;
  }
  .ts-xxl-58 {
    font-size: 58px;
  }
  .ts-xxl-60 {
    font-size: 60px;
  }
  .ts-xxl-62 {
    font-size: 62px;
  }
  .ts-xxl-64 {
    font-size: 64px;
  }
  .tw-xxl-100 {
    font-weight: 100;
  }
  .tw-xxl-200 {
    font-weight: 200;
  }
  .tw-xxl-300 {
    font-weight: 300;
  }
  .tw-xxl-400 {
    font-weight: 400;
  }
  .tw-xxl-500 {
    font-weight: 500;
  }
  .tw-xxl-600 {
    font-weight: 600;
  }
  .tw-xxl-700 {
    font-weight: 700;
  }
  .tw-xxl-800 {
    font-weight: 800;
  }
  .tw-xxl-900 {
    font-weight: 900;
  }
  .tc-xxl-white {
    color: #fcfcfc;
  }
  .tc-xxl-black {
    color: #363636;
  }
  .tc-xxl-gray {
    color: #aeafb2;
  }
  .tc-xxl-red {
    color: #ef4209;
  }
  .tc-xxl-orange {
    color: #f29d3e;
  }
  .tc-xxl-green {
    color: #07f070;
  }
  .tc-xxl-blue {
    color: #1170ff;
  }
  .tc-xxl-dblue {
    color: #0c0d29;
  }
  .tc-xxl-lblue {
    color: #7d7e90;
  }
  .tc-xxl-yellow {
    color: #f6d25d;
  }
}
@media (min-width: 0) {
  p, a, b, i, li, ol, ul, h1, h2, h3, h4, h5, h6, span, label, input, textarea, button, table {
    font-family: "Poppins", sans-serif !important;
  }
  html[lang=vi] body * {
    font-family: "Roboto", sans-serif !important;
  }
  .tit {
    line-height: 1.2em;
  }
  .txt {
    line-height: 1.4em;
  }
  .link {
    transition: 0.2s;
    cursor: pointer;
  }
  .link-footer {
    text-decoration: underline;
  }
  .link-footer:hover {
    color: #f6d25d;
  }
  .link-none {
    text-decoration: none;
  }
  .tit.lh-1, .txt.lh-1, .src.lh-1 {
    line-height: 1.25;
  }
  .tit.lh-2, .txt.lh-2, .src.lh-2 {
    line-height: 1.75;
  }
  .tit.tf-inter, .txt.tf-inter, .src.tf-inter {
    font-family: "Inter", sans-serif;
  }
  .tit.tf-ibmplexsans, .txt.tf-ibmplexsans, .src.tf-ibmplexsans {
    font-family: "IBMPlexSans", sans-serif;
  }
}
@media (min-width: 0) {
  .header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background: #FBFBFC;
    z-index: 999;
  }
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__row--alert {
    background-color: #ef4209;
    margin: 2px;
    color: #FFFFFF;
    border-radius: 10px;
  }
  .header__col:nth-of-type(2), .header__col:nth-of-type(3) {
    display: none;
  }
  .header__logo {
    display: block;
    width: 128px;
  }
  .header__logo img {
    width: 100%;
    position: relative;
    top: -6px;
  }
  .header__routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__routes-item--switcher {
    display: none;
  }
  .header__link, .header__exp-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    text-decoration: none;
    color: #aeafb2;
  }
  .header__link:hover, .header__exp-head:hover {
    color: #f29d3e;
  }
  .header__exp {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .header__exp::after, .header__exp::before {
    content: "";
    width: 8px;
    height: 2px;
    background: #aeafb2;
    position: absolute;
    top: 40px;
    transition: all 0.2s ease-in-out;
  }
  .header__exp::before {
    transform: rotate(140deg);
    right: 15px;
  }
  .header__exp::after {
    transform: rotate(40deg);
    right: 20px;
  }
  .header__exp:hover::before {
    right: 20px;
  }
  .header__exp:hover::after {
    right: 15px;
  }
  .header__exp-head {
    min-width: fit-content;
    padding-right: 34px;
    display: flex;
    align-items: center;
  }
  .header__exp-body {
    position: absolute;
    top: calc(100% - 12px);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    visibility: hidden;
    opacity: 0.7;
    transform: scale(0.1) translateY(-600%) translateX(300px);
    transition: all 0.2s ease-in-out;
  }
  .header__exp-link {
    white-space: nowrap;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.2s;
  }
  .header__exp-link:hover {
    background: #fdefe0;
  }
  .header__exp:hover .header__exp-body {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%) translateX(0px) scale(1);
  }
  .header__exp:hover .header__exp-link {
    color: #aeafb2;
  }
  .header__exp:hover .header__exp-link:hover {
    color: #f29d3e;
  }
  .header__control {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 989;
  }
  .nav__wrapper {
    width: 100%;
    min-height: 100%;
    background: #FBFBFC;
    box-shadow: 0 350px 200px 100px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
  }
  .nav__routes {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
  }
  .nav__routes-item {
    width: 100%;
    margin-bottom: 5px;
    padding: 14px 10px;
    border-bottom: 1px solid #d0d0d6;
    text-decoration: none;
    color: #0c0d29;
    transition: 0.1s;
    font-weight: 500;
  }
  .nav__routes-item:hover {
    color: #f29d3e;
  }
  .nav__routes-item:last-child {
    margin-bottom: 0;
  }
  .nav__exp {
    width: 100%;
  }
  .nav__exp input {
    display: none;
  }
  .nav__exp input:checked ~ .nav__exp-body {
    padding: 10px 10px;
    transition: padding 0.2s ease-in-out;
  }
  .nav__exp input:checked ~ .nav__exp-body .nav__exp-link {
    padding: 14px 10px;
    line-height: 1;
    opacity: 1;
    transition: padding 0.2s ease-in-out, opacity 0.2s 0.2s ease-in-out, line-height 0.2s ease-in-out;
  }
  .nav__exp-head {
    display: block;
    width: 100%;
    padding: 14px 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: #0c0d29;
    font-weight: 500;
  }
  .nav__exp-head:hover {
    color: #f29d3e;
  }
  .nav__exp-body {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    transition: padding 0.2s 0.2s ease-in-out;
  }
  .nav__exp-link {
    padding: 0 10px;
    line-height: 0;
    opacity: 0;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
    transition: padding 0.2s 0.2s ease-in-out, opacity 0.2s ease-in-out, line-height 0.2s 0.2s ease-in-out;
  }
  .nav__exp-link:hover {
    color: #f29d3e;
  }
  .nav.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  .toggle-nav {
    position: relative;
    z-index: 99;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toggle-nav__wrapper {
    border-radius: 50%;
    background: #f6d25d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  .toggle-nav__wrapper.active .toggle-nav__area span:nth-of-type(1), .toggle-nav__wrapper.active .toggle-nav__area span:nth-of-type(3) {
    transition-delay: 0s, 0.2s;
  }
  .toggle-nav__wrapper.active .toggle-nav__area span:nth-of-type(2) {
    background-color: transparent;
    transition-delay: 0.2s;
  }
  .toggle-nav__wrapper.active .toggle-nav__area span:nth-of-type(1) {
    margin: 9px 0 0 0;
    transform: rotate(45deg);
  }
  .toggle-nav__wrapper.active .toggle-nav__area span:nth-of-type(3) {
    margin: 0 0 9px 0;
    transform: rotate(-45deg);
  }
  .toggle-nav__area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 20px;
  }
  .toggle-nav__area span {
    width: 26px;
    height: 2px;
    background-color: #0c0d29;
    display: block;
  }
  .toggle-nav__area span:nth-of-type(1) {
    top: 0;
  }
  .toggle-nav__area span:nth-of-type(1), .toggle-nav__area span:nth-of-type(3) {
    position: absolute;
    margin: 0;
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
  }
  .toggle-nav__area span:nth-of-type(2) {
    margin: 0 auto;
    position: relative;
    transition-duration: 0s;
    transition-delay: 0.2s;
  }
  .toggle-nav__area span:nth-of-type(3) {
    bottom: 0;
  }
}
@media (min-width: 576px) {
  .nav {
    top: 0;
    max-width: 320px;
    height: 100vh;
    transform: translateX(320px);
    z-index: 991;
  }
  .toggle-nav {
    position: relative;
    z-index: 99;
  }
  .toggle-nav__wrapper {
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 1200px) {
  .header {
    min-height: 80px;
  }
  .header__col:last-child {
    display: none;
  }
  .header__col:nth-of-type(2), .header__col:nth-of-type(3) {
    display: block;
  }
  .header__routes-item--switcher {
    display: block;
  }
  .header__link, .header__exp-head {
    height: 80px;
  }
  .toggle-nav {
    display: none;
  }
  .toggle-nav__wrapper.active {
    transform: translateX(calc((100vw - 1140px) / 2 - 336px));
  }
}
@media (min-width: 1400px) {
  .toggle-nav__wrapper.active {
    transform: translateX(calc((100vw - 1320px) / 2 - 336px));
  }
}
@media (min-width: 0) {
  .form {
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #aeafb2;
    background: #21223b;
  }
  .checkbox {
    border: 20px;
  }
  .input__item {
    position: relative;
  }
  .input__item--field {
    background: #0c0d29;
    color: #7d7e90;
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding: 14px 28px;
    border-radius: 40px;
    border: none;
    box-shadow: none;
    outline: none !important;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }
  .input__item--field.error ~ .input__item--message, .input__item--field.warning ~ .input__item--message, .input__item--field.success ~ .input__item--message {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
  .input__item--field.error {
    border: 2px solid #d9181c;
  }
  .input__item--field.error ~ .input__item--message .input__item--warning, .input__item--field.error ~ .input__item--message .input__item--hint {
    display: none;
  }
  .input__item--field.error ~ .input__item--message .input__item--error {
    display: block;
  }
  .input__item--field.warning {
    border: 2px solid #F0AD4E;
  }
  .input__item--field.warning ~ .input__item--message .input__item--error, .input__item--field.warning ~ .input__item--message .input__item--hint {
    display: none;
  }
  .input__item--field.warning ~ .input__item--message .input__item--warning {
    display: block;
  }
  .input__item--field.success {
    border: 1px solid #22BB33;
  }
  .input__item--field.success ~ .input__item--message .input__item--error, .input__item--field.success ~ .input__item--message .input__item--warning {
    display: none;
  }
  .input__item--field.success ~ .input__item--message .input__item--hint {
    display: block;
  }
  .input__item--field::placeholder {
    color: #7d7e90;
    transition: all ease-in-out 0.2s;
  }
  .input__item--field:focus::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input__item--message {
    position: relative;
    display: flex;
    font-size: 12px;
    margin-top: -12px;
    margin-left: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    z-index: 1;
  }
  .input__item--error, .input__item--warning {
    display: none;
  }
  .input__item--error {
    color: #d9181c;
  }
  .input__item--warning {
    color: #F0AD4E;
  }
  .input__item--hint {
    color: #AAAAAA;
  }
  .input--phone {
    display: flex;
  }
  .input--phone .input__item:first-child {
    width: 30%;
    margin-right: 15px;
  }
  .input--phone .input__item:last-child {
    width: 70%;
  }
  .input--checkbox input {
    display: none;
  }
  .input--checkbox input:checked + .input__item--label::after {
    background: url("../../../../public/img/icons/icon-check-green.png") center no-repeat;
    transition: 0.2s;
    opacity: 1;
  }
  .input--checkbox input.error ~ .input__item--label:before {
    border: 2px solid #d9181c;
  }
  .input--checkbox .input__item--label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    transition: 0.2s;
  }
  .input--checkbox .input__item--label a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .input--checkbox .input__item--label a:visited {
    color: inherit;
  }
  .input--checkbox .input__item--label::before {
    content: "";
    display: block;
    height: 24px;
    flex: 0 0 24px;
    width: 24px;
    background: #fcfcfc;
    border-radius: 50%;
    margin: 0 16px 0 0;
    border: 2px solid #fcfcfc;
  }
  .input--checkbox .input__item--label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #fcfcfc;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s;
  }
}
@media (min-width: 0) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 14px;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .btn-yellow {
    background: #f6d25d;
    color: #0c0d29;
  }
  .btn-yellow:hover {
    background: #f29d3e;
  }
  .btn-gray {
    background: #e2e3e4;
    color: #0c0d29;
  }
  .btn-gray:hover {
    background: #aeafb2;
  }
  .btn-border {
    border: 2px solid #aeafb2;
    color: #0c0d29;
  }
  .btn-border:hover {
    border: 2px solid #e2e3e4;
    background: #e2e3e4;
  }
  .btn-border-yellow {
    border: 2px solid #f6d25d;
  }
  .btn-border-yellow:hover {
    border: 2px solid #f6d25d;
    background: #f6d25d;
  }
  .btn-light {
    background: #FBFBFC;
    color: #0c0d29;
  }
  .btn-light:hover {
    color: #f29d3e;
  }
  .btn-arrow-up {
    position: fixed;
    right: 32px;
    bottom: -100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
    background: url("../../../../public/img/icons/ico-arrow-up.svg") no-repeat center;
  }
  .btn-arrow-up:hover {
    transform: scale(1.2);
  }
  .btn-arrow-up.active-arrow {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
}
@media (min-width: 0) {
  .btn-s1 {
    font-size: 12px;
    padding: 10px;
  }
  .btn-s2 {
    font-size: 14px;
    padding: 12px;
  }
  .btn-s3 {
    font-size: 16px;
    padding: 14px;
  }
  .btn-s4 {
    font-size: 18px;
    padding: 16px;
  }
}
@media (min-width: 576px) {
  .btn-sm-s1 {
    font-size: 12px;
    padding: 10px;
  }
  .btn-sm-s2 {
    font-size: 14px;
    padding: 12px;
  }
  .btn-sm-s3 {
    font-size: 16px;
    padding: 14px;
  }
  .btn-sm-s4 {
    font-size: 18px;
    padding: 16px;
  }
}
@media (min-width: 768px) {
  .btn-md-s1 {
    font-size: 12px;
    padding: 10px;
  }
  .btn-md-s2 {
    font-size: 14px;
    padding: 12px;
  }
  .btn-md-s3 {
    font-size: 16px;
    padding: 14px;
  }
  .btn-md-s4 {
    font-size: 18px;
    padding: 16px;
  }
}
@media (min-width: 992px) {
  .btn-lg-s1 {
    font-size: 12px;
    padding: 10px;
  }
  .btn-lg-s2 {
    font-size: 14px;
    padding: 12px;
  }
  .btn-lg-s3 {
    font-size: 16px;
    padding: 14px;
  }
  .btn-lg-s4 {
    font-size: 18px;
    padding: 16px;
  }
}
@media (min-width: 1200px) {
  .btn-xl-s1 {
    font-size: 12px;
    padding: 10px;
  }
  .btn-xl-s2 {
    font-size: 14px;
    padding: 12px;
  }
  .btn-xl-s3 {
    font-size: 16px;
    padding: 14px;
  }
  .btn-xl-s4 {
    font-size: 18px;
    padding: 16px;
  }
}
@media (min-width: 1400px) {
  .btn-xxl-s1 {
    font-size: 12px;
    padding: 10px;
  }
  .btn-xxl-s2 {
    font-size: 14px;
    padding: 12px;
  }
  .btn-xxl-s3 {
    font-size: 16px;
    padding: 14px;
  }
  .btn-xxl-s4 {
    font-size: 18px;
    padding: 16px;
  }
}
@media (min-width: 0) {
  .btn-w-80 {
    width: 80px;
  }
  .btn-w-100 {
    width: 100px;
  }
  .btn-w-120 {
    width: 120px;
  }
  .btn-w-140 {
    width: 140px;
  }
  .btn-w-160 {
    width: 160px;
  }
  .btn-w-180 {
    width: 180px;
  }
  .btn-w-200 {
    width: 200px;
  }
  .btn-w-220 {
    width: 220px;
  }
  .btn-w-240 {
    width: 240px;
  }
  .btn-w-260 {
    width: 260px;
  }
  .btn-w-280 {
    width: 280px;
  }
  .btn-w-300 {
    width: 300px;
  }
  .btn-w-320 {
    width: 320px;
  }
  .btn-w-fc {
    width: fit-content;
  }
}
@media (min-width: 576px) {
  .btn-w-sm-80 {
    width: 80px;
  }
  .btn-w-sm-100 {
    width: 100px;
  }
  .btn-w-sm-120 {
    width: 120px;
  }
  .btn-w-sm-140 {
    width: 140px;
  }
  .btn-w-sm-160 {
    width: 160px;
  }
  .btn-w-sm-180 {
    width: 180px;
  }
  .btn-w-sm-200 {
    width: 200px;
  }
  .btn-w-sm-220 {
    width: 220px;
  }
  .btn-w-sm-240 {
    width: 240px;
  }
  .btn-w-sm-260 {
    width: 260px;
  }
  .btn-w-sm-280 {
    width: 280px;
  }
  .btn-w-sm-300 {
    width: 300px;
  }
  .btn-w-sm-320 {
    width: 320px;
  }
  .btn-w-sm-fc {
    width: fit-content;
  }
}
@media (min-width: 768px) {
  .btn-w-md-80 {
    width: 80px;
  }
  .btn-w-md-100 {
    width: 100px;
  }
  .btn-w-md-120 {
    width: 120px;
  }
  .btn-w-md-140 {
    width: 140px;
  }
  .btn-w-md-160 {
    width: 160px;
  }
  .btn-w-md-180 {
    width: 180px;
  }
  .btn-w-md-200 {
    width: 200px;
  }
  .btn-w-md-220 {
    width: 220px;
  }
  .btn-w-md-240 {
    width: 240px;
  }
  .btn-w-md-260 {
    width: 260px;
  }
  .btn-w-md-280 {
    width: 280px;
  }
  .btn-w-md-300 {
    width: 300px;
  }
  .btn-w-md-320 {
    width: 320px;
  }
  .btn-w-md-fc {
    width: fit-content;
  }
}
@media (min-width: 992px) {
  .btn-w-lg-80 {
    width: 80px;
  }
  .btn-w-lg-100 {
    width: 100px;
  }
  .btn-w-lg-120 {
    width: 120px;
  }
  .btn-w-lg-140 {
    width: 140px;
  }
  .btn-w-lg-160 {
    width: 160px;
  }
  .btn-w-lg-180 {
    width: 180px;
  }
  .btn-w-lg-200 {
    width: 200px;
  }
  .btn-w-lg-220 {
    width: 220px;
  }
  .btn-w-lg-240 {
    width: 240px;
  }
  .btn-w-lg-260 {
    width: 260px;
  }
  .btn-w-lg-280 {
    width: 280px;
  }
  .btn-w-lg-300 {
    width: 300px;
  }
  .btn-w-lg-320 {
    width: 320px;
  }
  .btn-w-lg-fc {
    width: fit-content;
  }
}
@media (min-width: 1200px) {
  .btn-w-xl-80 {
    width: 80px;
  }
  .btn-w-xl-100 {
    width: 100px;
  }
  .btn-w-xl-120 {
    width: 120px;
  }
  .btn-w-xl-140 {
    width: 140px;
  }
  .btn-w-xl-160 {
    width: 160px;
  }
  .btn-w-xl-180 {
    width: 180px;
  }
  .btn-w-xl-200 {
    width: 200px;
  }
  .btn-w-xl-220 {
    width: 220px;
  }
  .btn-w-xl-240 {
    width: 240px;
  }
  .btn-w-xl-260 {
    width: 260px;
  }
  .btn-w-xl-280 {
    width: 280px;
  }
  .btn-w-xl-300 {
    width: 300px;
  }
  .btn-w-xl-320 {
    width: 320px;
  }
  .btn-w-xl-fc {
    width: fit-content;
  }
}
@media (min-width: 1400px) {
  .btn-w-xxl-80 {
    width: 80px;
  }
  .btn-w-xxl-100 {
    width: 100px;
  }
  .btn-w-xxl-120 {
    width: 120px;
  }
  .btn-w-xxl-140 {
    width: 140px;
  }
  .btn-w-xxl-160 {
    width: 160px;
  }
  .btn-w-xxl-180 {
    width: 180px;
  }
  .btn-w-xxl-200 {
    width: 200px;
  }
  .btn-w-xxl-220 {
    width: 220px;
  }
  .btn-w-xxl-240 {
    width: 240px;
  }
  .btn-w-xxl-260 {
    width: 260px;
  }
  .btn-w-xxl-280 {
    width: 280px;
  }
  .btn-w-xxl-300 {
    width: 300px;
  }
  .btn-w-xxl-320 {
    width: 320px;
  }
  .btn-w-xxl-fc {
    width: fit-content;
  }
}
@media (min-width: 0) {
  .container {
    max-width: 1320px;
  }
  .view {
    background: #FBFBFC;
  }
  .view .section:nth-of-type(1) {
    padding-top: 80px;
  }
  .view--homepage .section:nth-of-type(1) {
    padding-bottom: 80px;
  }
  .view--homepage .section:nth-of-type(2) {
    padding-bottom: 120px;
  }
  .view--homepage .section:nth-of-type(3) {
    padding-bottom: 160px;
  }
  .view--homepage .section:nth-of-type(4) {
    padding-bottom: 80px;
  }
  .view--homepage .section:nth-of-type(5) {
    padding: 80px 0 60px 0;
    background: #0c0d29;
  }
  .view--discover-crypto .section:nth-of-type(1), .view--discover-crypto .section:nth-of-type(2), .view--discover-crypto .section:nth-of-type(3), .view--deposit .section:nth-of-type(1), .view--deposit .section:nth-of-type(2), .view--deposit .section:nth-of-type(3), .view--platform .section:nth-of-type(1), .view--platform .section:nth-of-type(2), .view--platform .section:nth-of-type(3), .view--prices .section:nth-of-type(1), .view--prices .section:nth-of-type(2), .view--prices .section:nth-of-type(3), .view--accounts .section:nth-of-type(1), .view--accounts .section:nth-of-type(2), .view--accounts .section:nth-of-type(3), .view--about .section:nth-of-type(1), .view--about .section:nth-of-type(2), .view--about .section:nth-of-type(3), .view--security .section:nth-of-type(1), .view--security .section:nth-of-type(2), .view--security .section:nth-of-type(3), .view--terms .section:nth-of-type(1), .view--terms .section:nth-of-type(2), .view--terms .section:nth-of-type(3), .view--privacy .section:nth-of-type(1), .view--privacy .section:nth-of-type(2), .view--privacy .section:nth-of-type(3), .view--faq .section:nth-of-type(1), .view--faq .section:nth-of-type(2), .view--faq .section:nth-of-type(3) {
    padding-bottom: 80px;
  }
  .view--prices [id=sec-crypto-widget] {
    display: none;
  }
  .view--platform [id=sec-crypto-table] {
    display: none;
  }
  .scrollmagic-pin-spacer {
    box-sizing: border-box !important;
    padding-left: 0px !important;
  }
  .scrollmagic-pin-spacer .pin {
    height: fit-content !important;
  }
}
@media (min-width: 992px) {
  .view--homepage .section:nth-of-type(1) {
    padding-bottom: 220px;
  }
  .view--homepage .section:nth-of-type(2) {
    padding-bottom: 200px;
  }
  .view--homepage .section:nth-of-type(3) {
    padding-bottom: 150px;
  }
  .view--homepage .section:nth-of-type(4) {
    padding-bottom: 140px;
  }
  .view--homepage .section:nth-of-type(5) {
    padding-top: 100px;
    padding-bottom: 40px;
    background: #0c0d29;
  }
  .view--discover-crypto .section:nth-of-type(1), .view--discover-crypto .section:nth-of-type(2), .view--discover-crypto .section:nth-of-type(3), .view--deposit .section:nth-of-type(1), .view--deposit .section:nth-of-type(2), .view--deposit .section:nth-of-type(3), .view--platform .section:nth-of-type(1), .view--platform .section:nth-of-type(2), .view--platform .section:nth-of-type(3), .view--security .section:nth-of-type(1), .view--security .section:nth-of-type(2), .view--security .section:nth-of-type(3), .view--terms .section:nth-of-type(1), .view--terms .section:nth-of-type(2), .view--terms .section:nth-of-type(3), .view--privacy .section:nth-of-type(1), .view--privacy .section:nth-of-type(2), .view--privacy .section:nth-of-type(3), .view--faq .section:nth-of-type(1), .view--faq .section:nth-of-type(2), .view--faq .section:nth-of-type(3) {
    padding-bottom: 160px;
  }
  .view--prices .section:nth-of-type(1) {
    padding-bottom: 100px;
  }
  .view--prices .section:nth-of-type(2) {
    padding-bottom: 160px;
  }
  .view--prices .section:nth-of-type(3) {
    padding-bottom: 130px;
  }
  .view--accounts .section:nth-of-type(1) {
    padding-bottom: 60px;
  }
  .view--accounts .section:nth-of-type(2) {
    padding-bottom: 160px;
  }
  .view--about .section:nth-of-type(1) {
    padding-bottom: 90px;
  }
  .view--about .section:nth-of-type(2) {
    padding-bottom: 160px;
  }
  .view--about .section:nth-of-type(3) {
    padding-bottom: 120px;
  }
  .scrollmagic-pin-spacer {
    box-sizing: border-box !important;
  }
}
@media (min-width: 0) {
  .img img, .ico img {
    display: block;
    width: 100%;
  }
  .img-hp-1woman {
    border-radius: 100px;
    max-width: 648px;
  }
  .img-hp-1man {
    border-radius: 100px;
    max-width: 648px;
  }
  .img-hp-cards {
    max-width: 312px;
    border-radius: 14px;
  }
  .img-dc-phone {
    max-width: 392px;
  }
  .img-dw-1man {
    max-width: 648px;
  }
  .img-prices-1man {
    max-width: 648px;
  }
  .img-about-2ppl {
    max-width: 536px;
  }
  .img-about-phone {
    max-width: 428px;
  }
  .img-security-2folders {
    max-width: 648px;
  }
  .img-security-1man {
    max-width: 560px;
  }
  .img-logo-footer {
    max-width: 160px;
  }
  .ico-circle-w40 {
    min-width: 40px;
    max-width: 40px;
  }
  .ico-circle-w60 {
    min-width: 60px;
    max-width: 60px;
  }
  .ico-social {
    transition: 0.1s all ease-in-out;
    background: #7d7e90;
    height: 24px;
  }
  .ico-social:hover {
    background: #f6d25d;
  }
  .ico-social-telegram {
    width: 24px;
    -webkit-mask: url("../../../../public/img/icons/ico-telegram.svg") no-repeat center;
    mask: url("../../../../public/img/icons/ico-telegram.svg") no-repeat center;
  }
  .ico-social-instagram {
    width: 24px;
    -webkit-mask: url("../../../../public/img/icons/ico-inst.svg") no-repeat center;
    mask: url("../../../../public/img/icons/ico-inst.svg") no-repeat center;
  }
  .ico-social-zalo {
    width: 68px;
    -webkit-mask: url("../../../../public/img/icons/ico-zalo.svg") no-repeat center;
    mask: url("../../../../public/img/icons/ico-zalo.svg") no-repeat center;
  }
}
@media (min-width: 0) {
  footer {
    padding: 90px 0 60px 0;
    background: #0c0d29;
  }
  footer .row:nth-child(4) {
    padding-top: 40px;
    border-top: 2px solid #7d7e90;
  }
  footer .row-form {
    padding: 0 0 180px 0;
    background: #0c0d29;
  }
}
@media (min-width: 0) {
  .container-head {
    text-align: center;
  }
  .container-head h3 {
    color: #fff;
  }
  .view--homepage .crypto img[id=img-on-other-pages] {
    display: none;
  }
  .view--homepage .crypto__table tr:nth-of-type(6), .view--homepage .crypto__table tr:nth-of-type(7), .view--homepage .crypto__table tr:nth-of-type(8), .view--homepage .crypto__table tr:nth-of-type(9) {
    display: none;
  }
  .view--platform .crypto img[id=img-on-other-homepage], .view--prices .crypto img[id=img-on-other-homepage] {
    display: none;
  }
  div[id=sec-crypto-table] {
    overflow-x: scroll;
  }
  div[id=sec-crypto-table]::-webkit-scrollbar {
    width: 2px;
  }
  div[id=sec-crypto-table]::-webkit-scrollbar-thumb {
    background: 2px solid #FBFBFC;
  }
  .crypto-value {
    width: 0;
    visibility: hidden;
    max-width: 0px;
    opacity: 0;
    cursor: pointer;
    text-align: end;
  }
  .crypto__table {
    width: 100%;
    color: #aeafb2;
    border: none;
  }
  .crypto__table thead tr {
    color: #7a7b80;
    height: 50px;
    border-bottom: 1px solid #e4e4eb;
  }
  .crypto__table thead tr th {
    padding: 0;
    text-align: end;
    vertical-align: middle;
    padding: 0 10px;
  }
  .crypto__table thead tr th:nth-of-type(1) {
    text-align: start;
  }
  .crypto__table tbody tr {
    height: 77px;
    transition: 0.2s all ease-in-out;
    border-bottom: 1px solid #e4e4eb;
  }
  .crypto__table tbody tr:hover {
    background: #f8f8fa;
  }
  .crypto__table tbody tr th, .crypto__table tbody tr td {
    position: relative;
    padding: 0 10px;
    text-align: end;
    vertical-align: middle;
  }
  .crypto__table tbody tr th:nth-of-type(1), .crypto__table tbody tr td:nth-of-type(1) {
    text-align: start;
  }
  .crypto__table tbody tr th span, .crypto__table tbody tr td span {
    position: relative;
    top: -5px;
  }
  .crypto__table tbody tr td {
    text-transform: capitalize;
  }
  .crypto__table tbody tr td img {
    margin: 0px 10px 0px 0;
  }
  .crypto__table tbody tr td:nth-of-type(1) {
    font-weight: 600;
    min-width: 206px;
    color: #7a7b80;
  }
  .crypto__table tbody tr p {
    display: inline-block;
    padding: 2px 0px 2px 22px;
  }
  .crypto__widget {
    display: none;
    justify-content: space-between;
    align-items: center;
    min-width: none;
    max-width: 390px;
    width: 100%;
    padding: 30px;
    border-radius: 36px;
    background: #FFFFFF;
    border: 1px solid #e2e3e4;
    margin: 8px;
  }
  .crypto__widget-logo {
    display: block;
    margin-right: 20px;
  }
  .crypto__widget-logo img {
    width: 54px;
    height: 54px;
  }
  .crypto__widget-name {
    align-self: flex-start;
    justify-self: start;
  }
  .crypto__widget-name h3 {
    text-transform: uppercase;
  }
  .crypto__widget-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 22px 0 10px;
    text-align: right;
  }
  .crypto__widget-price p:nth-child(1) {
    padding: 2px 12px 2px 22px;
    border-radius: 20px;
    background: #f2f2f3;
  }
  .crypto__widget.bitcoin, .crypto__widget.ethereum, .crypto__widget.tether {
    display: flex;
  }
  .crypto__calc {
    width: 100%;
  }
  .crypto__calc-box {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 36px;
    background: #0c0d29;
  }
  .crypto__calc-box .crypto__label {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    cursor: pointer;
  }
  .crypto__calc-box .crypto__label img {
    margin-right: 10px;
  }
  .crypto__calc-input-item-field {
    display: flex;
    min-height: 60px;
    max-height: 60px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 14px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #7d7e90;
  }
  .crypto__calc-input-item-field input {
    width: 50%;
    background: transparent;
    padding: 14px;
    color: #FFFFFF;
    outline: none;
    border: none;
  }
  .crypto__calc-input-item-field input::-webkit-outer-spin-button, .crypto__calc-input-item-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .crypto__calc-input-item-field input::placeholder {
    color: #7d7e90;
    font-size: 16px;
    transition: 0.1s all ease-in-out;
    opacity: 1;
    visibility: visible;
  }
  .crypto__calc-input-item-field input:focus::placeholder {
    font-size: 0;
    opacity: 0;
    visibility: hidden;
  }
  .crypto__calc-select {
    padding: 0 14px 0 0;
    position: relative;
    width: 50%;
  }
  .crypto__calc-select-field {
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.001);
  }
  .crypto__calc-select-field input {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background: transparent;
  }
  .crypto__calc-select-field input:focus {
    outline: none;
  }
  .crypto__calc-select-field input::placeholder {
    text-transform: capitalize;
    color: #7d7e90;
  }
  .crypto__calc-select-field::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 70%;
    top: 15%;
    left: -14px;
    background: #7d7e90;
  }
  .crypto__calc-select-list {
    overflow-y: auto;
    max-height: 240px;
    position: absolute;
    right: 0;
    width: fit-content;
    max-width: 230px;
    min-width: 200px;
    margin-top: 16px;
    background: #181a50;
    color: #7d7e90;
    border-radius: 18px;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.2s;
    z-index: 1;
  }
  .crypto__calc-select-list::-webkit-scrollbar {
    width: 0px;
  }
  .crypto__calc-select-list::-webkit-scrollbar-thumb {
    background: 2px solid #FBFBFC;
  }
  .crypto__calc-select-list.active {
    visibility: visible;
    opacity: 1;
  }
  .crypto__calc-select-list-item {
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 0 0px 0 16px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
  }
  .crypto__calc-select-list-item:hover {
    width: 100%;
    background: #7d7e90;
  }
  .crypto__calc-select-list-item:hover p, .crypto__calc-select-list-item:hover span, .crypto__calc-select-list-item:hover label {
    color: #FFFFFF !important;
    transition: 0.1s all ease-in-out;
  }
  .crypto__calc .converted-result {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .crypto__calc .converted-result:nth-of-type(1) input {
    color: #FFFFFF;
    background: transparent;
    outline: none;
    border: none;
    cursor: default;
  }
  .crypto__calc .converted-result:nth-of-type(1) input[id=converted-result-main] {
    position: relative;
    max-width: 600px;
    width: 100%;
    text-align: center;
    height: 100px;
    color: #FFFFFF;
    font-size: 6vmax;
    font-weight: 700;
  }
  .crypto__calc .converted-result:nth-of-type(1) input[id=converted-result-smaller] {
    min-width: 100%;
    height: 60px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
  }
  .crypto__calc .converted-result:nth-of-type(1) input[id=converted-result-smaller-2] {
    text-align: center;
    height: 30px;
    color: #7d7e90;
    font-weight: 600;
    font-size: 16px;
  }
  .crypto__calc .converted-result::after {
    position: absolute;
    content: "";
    top: 3%;
    right: 0;
    height: 94%;
    width: 30%;
    background: linear-gradient(to right, transparent, #0c0d29 80%);
  }
  .crypto .change {
    position: relative;
  }
  .crypto .change::before {
    content: "";
    position: absolute;
    top: 39%;
    left: 10px;
    width: 12px;
    height: 6px;
  }
  .crypto.rising .price, .crypto.rising .change {
    color: #07f070 !important;
  }
  .crypto.rising .change:before {
    background: url("../../../../public/img/icons/ico-rising.svg") no-repeat;
  }
  .crypto.falling .price, .crypto.falling .change {
    color: #ef4209 !important;
  }
  .crypto.falling .change:before {
    background: url("../../../../public/img/icons/ico-falling.svg") no-repeat;
  }
}
@media (min-width: 0) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .box-border {
    border-radius: 24px;
    padding: 24px;
  }
  .box-border-white {
    padding-top: 40px;
    border: 1px solid #e2e3e4;
    background: #FFFFFF;
  }
  .box-border-award {
    position: relative;
    border: 2px solid #9DEDC6;
    min-height: 336px;
    height: 100%;
    transition: all ease-in-out 0.1s;
  }
  .box-border-award::after, .box-border-award::before {
    content: "";
    position: absolute;
  }
  .box-border-award::before {
    top: 24px;
    left: 24px;
    width: 54px;
    height: 54px;
    background: url("../../../../public/img/icons/ico-award.svg") center no-repeat;
    z-index: 98;
  }
  .box-border-award::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(135deg, #9DEDC6, #f6d25d, #f29d3e);
    z-index: 0;
    opacity: 0;
    transition: all ease-in-out 0.2s;
  }
  .box-border-award:hover {
    border: none;
    height: 105%;
    transform: translateY(-5%);
  }
  .box-border-award:hover::after {
    opacity: 1;
  }
  .box-border-award:hover .tit, .box-border-award:hover .txt {
    z-index: 2;
    position: relative;
    color: #0c0d29 !important;
  }
  .box-bg-gray {
    border-radius: 36px;
    height: 100%;
    padding-bottom: 0;
    background: #f2f2f3;
  }
  .box-bg-dblue {
    border-radius: 36px;
    height: 100%;
    background: #0c0d29;
  }
  .box-bg-dblue p, .box-bg-dblue h1, .box-bg-dblue h2, .box-bg-dblue h3, .box-bg-dblue h4 {
    color: #FFFFFF;
  }
  .box-notification {
    padding: 20px 0;
    background: #d9181c;
  }
  .hr-gray {
    width: 96%;
    margin-top: 24px;
    margin-bottom: 28px;
    border: 1px #e2e3e4 solid;
    background: #e2e3e4;
  }
  .hr-white {
    width: 96%;
    margin-top: 24px;
    margin-bottom: 28px;
    border: 0px none solid;
    background: #FFFFFF;
  }
}
@media (min-width: 992px) {
  .box-bg-gray {
    padding-bottom: 0;
  }
}
@media (min-width: 0) {
  .accordeon__item {
    min-height: 120px;
    position: relative;
    border: none;
    border-bottom: 2px solid #ededee;
    cursor: pointer;
  }
  .accordeon__item > a {
    text-decoration: none;
  }
  .accordeon__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 30px 20px 60px;
    width: 100%;
    min-height: 120px;
  }
  .accordeon__header::before {
    content: "";
    width: 40px;
    height: 40px;
    background: url("../../../../public/img/icons/ico-accordeon-arrow.svg") no-repeat;
    position: absolute;
    top: 40px;
    left: 0;
    transition: all 0.2s ease-in-out;
    transform: rotate(180deg);
  }
  .accordeon__header.active ~ .accordeon__content p {
    transition-delay: 3s;
    opacity: 1;
    transition: 3s all ease-in-out;
    visibility: visible;
  }
  .accordeon__header.active::before {
    transform: rotate(0deg);
  }
  .accordeon__content {
    padding: 0px 40px 20px 60px;
    display: none;
    cursor: default;
  }
  .accordeon__content p {
    transition: 0.2s all ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .accordeon__content a {
    color: #f6d25d;
  }
  .accordeon__content a:hover {
    text-decoration: underline;
  }
  .accordeon ul {
    padding-left: 30px;
    list-style: none;
  }
  .accordeon ul li {
    position: relative;
  }
  .accordeon ul li:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 8px;
    left: -28px;
    background: #aeafb2;
    border-radius: 50%;
  }
  .accordeon ol {
    padding-left: 30px;
    list-style: decimal;
  }
}